Repository beyond-sw-camp/be06-fin-SYNergy-ComeGongBang, pull requests merged in 2024-09, with the labels that each got.

#29 [Style] 최초 폴더구조 및 네이밍 컨벤션 유지
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/README.md
  frontend/src/main.js
  frontend/src/pages/README.md
  frontend/src/router/index.js
  frontend/src/stores/README.md
Labels: 📃documentation, 🗺frontend

#30 [Init] frontend 보일러 플레이트 세팅 - pinia , router 세팅 추가
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.js
  frontend/src/router/index.js
Labels: 📃documentation, 🗺frontend

#42 [Init] backend entity 최초 설계
  backend/build.gradle
  backend/src/main/java/com/synergy/backend/Alert/model/entity/Alert.java
  backend/src/main/java/com/synergy/backend/atelier/model/entity/Atelier.java
  backend/src/main/java/com/synergy/backend/atelier/model/entity/AtelierProfileImages.java
  backend/src/main/java/com/synergy/backend/common/model/BaseEntity.java
  backend/src/main/java/com/synergy/backend/coupon/model/entity/Coupon.java
  backend/src/main/java/com/synergy/backend/domain/member/controller/MemberController.java
  backend/src/main/java/com/synergy/backend/domain/member/model/entity/Member.java
  backend/src/main/java/com/synergy/backend/domain/member/model/request/MemberLoginReq.java
  backend/src/main/java/com/synergy/backend/domain/member/model/request/MemberSignupReq.java
  backend/src/main/java/com/synergy/backend/domain/member/model/response/MemberSignupRes.java
  backend/src/main/java/com/synergy/backend/domain/member/repository/MemberRepository.java
  backend/src/main/java/com/synergy/backend/domain/member/service/MemberService.java
  backend/src/main/java/com/synergy/backend/hashtag/model/entity/Hashtag.java
  backend/src/main/java/com/synergy/backend/hashtag/model/entity/ProductHashtag.java
  backend/src/main/java/com/synergy/backend/likes/model/entity/Likes.java
  backend/src/main/java/com/synergy/backend/member/controller/MemberController.java
  backend/src/main/java/com/synergy/backend/member/model/entity/DeliveryAddress.java
  backend/src/main/java/com/synergy/backend/member/model/entity/Follow.java
  backend/src/main/java/com/synergy/backend/member/model/entity/Grade.java
  backend/src/main/java/com/synergy/backend/member/model/entity/Member.java
  backend/src/main/java/com/synergy/backend/member/model/entity/MemberEmailAuth.java
  backend/src/main/java/com/synergy/backend/member/model/request/MemberLoginReq.java
  backend/src/main/java/com/synergy/backend/member/model/request/MemberSignupReq.java
  backend/src/main/java/com/synergy/backend/member/model/response/MemberSignupRes.java
  backend/src/main/java/com/synergy/backend/member/repository/MemberRepository.java
  backend/src/main/java/com/synergy/backend/member/service/MemberService.java
  backend/src/main/java/com/synergy/backend/orders/model/entity/Cart.java
  backend/src/main/java/com/synergy/backend/orders/model/entity/OptionInCart.java
  backend/src/main/java/com/synergy/backend/orders/model/entity/Orders.java
  backend/src/main/java/com/synergy/backend/orders/model/entity/OrdersDetail.java
  backend/src/main/java/com/synergy/backend/orders/model/entity/Present.java
  backend/src/main/java/com/synergy/backend/product/model/entity/Category.java
  backend/src/main/java/com/synergy/backend/product/model/entity/Product.java
  backend/src/main/java/com/synergy/backend/product/model/entity/ProductImages.java
  backend/src/main/java/com/synergy/backend/product/model/entity/ProductMajorOptions.java
  backend/src/main/java/com/synergy/backend/product/model/entity/ProductSubOptions.java
  backend/src/main/java/com/synergy/backend/product/model/entity/RecentProduct.java
  backend/src/main/java/com/synergy/backend/question/model/entity/Question.java
  backend/src/main/java/com/synergy/backend/review/model/entity/Review.java
  backend/src/main/java/com/synergy/backend/review/model/entity/ReviewImages.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
Labels: 🍃backend

#74 [Feat] 로그인 페이지 구현
  frontend/src/pages/member/LoginPage.vue
  frontend/src/stores/useMemberStore.js
  frontend/vue.config.js
Labels: 🗺frontend, high

#75 [Feat] 배송지 조회 및 추가, 예외 처리, 응답 객체 설정 추가
  backend/src/main/java/com/synergy/backend/common/BaseException.java
  backend/src/main/java/com/synergy/backend/common/BaseResponse.java
  backend/src/main/java/com/synergy/backend/common/BaseResponseStatus.java
  backend/src/main/java/com/synergy/backend/common/model/BaseEntity.java
  backend/src/main/java/com/synergy/backend/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/synergy/backend/member/controller/MemberController.java
  backend/src/main/java/com/synergy/backend/member/model/entity/DeliveryAddress.java
  backend/src/main/java/com/synergy/backend/member/model/entity/Member.java
  backend/src/main/java/com/synergy/backend/member/model/request/CreateDeliveryAddressReq.java
  backend/src/main/java/com/synergy/backend/member/model/response/DeliveryAddressRes.java
  backend/src/main/java/com/synergy/backend/member/repository/DeliveryAddressRepository.java
  backend/src/main/java/com/synergy/backend/member/repository/MemberRepository.java
  backend/src/main/java/com/synergy/backend/member/service/MemberService.java
Labels: 🍃backend

#76 [Feat] 회원가입 기능, 이메일 인증 기능 개발
  backend/build.gradle
  backend/src/main/java/com/synergy/backend/global/security/SecurityConfig.java
  backend/src/main/java/com/synergy/backend/member/controller/MemberController.java
  backend/src/main/java/com/synergy/backend/member/controller/MemberEmailAuthController.java
  backend/src/main/java/com/synergy/backend/member/model/entity/Member.java
  backend/src/main/java/com/synergy/backend/member/model/entity/MemberEmailAuth.java
  backend/src/main/java/com/synergy/backend/member/model/request/MemberEmailAuthReq.java
  backend/src/main/java/com/synergy/backend/member/model/request/MemberSignupReq.java
  backend/src/main/java/com/synergy/backend/member/repository/MemberEmailAuthRepository.java
  backend/src/main/java/com/synergy/backend/member/service/MemberEmailAuthService.java
  backend/src/main/java/com/synergy/backend/member/service/MemberService.java
  backend/src/main/resources/application.yml
Labels: 🍃backend, high

#77 [Feat] 회원 로그인 기능 구현
  backend/src/main/java/com/synergy/backend/global/jwt/JwtFilter.java
  backend/src/main/java/com/synergy/backend/global/jwt/JwtUtil.java
  backend/src/main/java/com/synergy/backend/global/security/CustomUserDetailService.java
  backend/src/main/java/com/synergy/backend/global/security/CustomUserDetails.java
  backend/src/main/java/com/synergy/backend/global/security/SecurityConfig.java
  backend/src/main/java/com/synergy/backend/global/security/filter/LoginFilter.java
  backend/src/main/java/com/synergy/backend/member/model/entity/Member.java
  backend/src/main/java/com/synergy/backend/member/model/request/MemberLoginReq.java
  backend/src/main/java/com/synergy/backend/member/repository/MemberRepository.java
Labels: 🍃backend, high

#78 [Feat] 회원 로그아웃 기능 구현
  backend/src/main/java/com/synergy/backend/global/security/SecurityConfig.java
Labels: 🍃backend, high

#88 [Add]docker compose yml파일(mariadb) 추가
  backend/docker.compose.yml
Labels: 🖥CI/CD

#89 [Feat] 배송지 관리 페이지 컴포넌트 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/components/member/AddAddressComponent.vue
  frontend/src/components/member/DeliveryComponent.vue
  frontend/src/router/index.js
  frontend/src/stores/useDeliveryStore.js
  frontend/vue.config.js
Labels: 🗺frontend

#90 [Feat]상품 카테고리 검색 기능 추가
  backend/build.gradle
  backend/src/main/java/com/synergy/backend/atelier/model/entity/Atelier.java
  backend/src/main/java/com/synergy/backend/product/controller/ProductController.java
  backend/src/main/java/com/synergy/backend/product/model/dto/response/SearchProductRes.java
  backend/src/main/java/com/synergy/backend/product/model/entity/Category.java
  backend/src/main/java/com/synergy/backend/product/model/entity/Product.java
  backend/src/main/java/com/synergy/backend/product/querydsl/ProductRepositoryCustom.java
  backend/src/main/java/com/synergy/backend/product/querydsl/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/synergy/backend/product/repository/ProductRepository.java
  backend/src/main/java/com/synergy/backend/product/service/ProductService.java
Labels: 🍃backend

#91 [Refactor]카테고리 검색만 가능하던 쿼리dsl 레포지토리를 다른 검색에 사용할 수 있도록 리펙토링함
  backend/src/main/java/com/synergy/backend/product/querydsl/ProductRepositoryCustom.java
  backend/src/main/java/com/synergy/backend/product/querydsl/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/synergy/backend/product/service/ProductService.java
Labels: 🍃backend

#92 [Feat] 상품 장바구니 추가, 수량 증가, 감소
  backend/src/main/java/com/synergy/backend/alert/model/entity/Alert.java
  backend/src/main/java/com/synergy/backend/common/BaseResponseStatus.java
  backend/src/main/java/com/synergy/backend/member/controller/MemberController.java
  backend/src/main/java/com/synergy/backend/member/service/MemberService.java
  backend/src/main/java/com/synergy/backend/orders/controller/CartController.java
  backend/src/main/java/com/synergy/backend/orders/model/entity/Cart.java
  backend/src/main/java/com/synergy/backend/orders/model/entity/OptionInCart.java
  backend/src/main/java/com/synergy/backend/orders/model/request/AddCartOption.java
  backend/src/main/java/com/synergy/backend/orders/model/request/AddCartReq.java
  backend/src/main/java/com/synergy/backend/orders/model/request/IncreaseProductReq.java
  backend/src/main/java/com/synergy/backend/orders/repository/CartRepository.java
  backend/src/main/java/com/synergy/backend/orders/repository/OptionInCartRepository.java
  backend/src/main/java/com/synergy/backend/orders/service/CartService.java
  backend/src/main/java/com/synergy/backend/product/model/entity/Product.java
  backend/src/main/java/com/synergy/backend/product/repository/ProductMajorOptionsRepository.java
  backend/src/main/java/com/synergy/backend/product/repository/ProductSubOptionsRepository.java
Labels: 🍃backend

#93 [Feat]product-list 컴포넌트 axios 연결
  frontend/package-lock.json
  frontend/src/components/product/ProductComponent.vue
  frontend/src/components/product/ProductListComponent.vue
  frontend/src/stores/useProductStore.js
Labels: 🗺frontend

#94 [Feat]해시태그 검색 기능 개발 (#85)
  backend/src/main/java/com/synergy/backend/product/controller/ProductController.java
  backend/src/main/java/com/synergy/backend/product/model/entity/Product.java
  backend/src/main/java/com/synergy/backend/product/querydsl/ProductRepositoryCustom.java
  backend/src/main/java/com/synergy/backend/product/querydsl/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/synergy/backend/product/service/ProductService.java
Labels: 🍃backend

#101 [Feat]상품 캐러셀 구현(#98)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/product/ProductCarouselComponent.vue
  frontend/src/components/product/ProductListComponent.vue
  frontend/src/router/index.js
Labels: 🗺frontend

#102 [Feat] 장바구니 조회, 장바구니 선택 시 검증
  backend/src/main/java/com/synergy/backend/common/BaseResponseStatus.java
  backend/src/main/java/com/synergy/backend/config/JpaAuditingConfig.java
  backend/src/main/java/com/synergy/backend/config/SecurityConfig.java
  backend/src/main/java/com/synergy/backend/orders/controller/CartController.java
  backend/src/main/java/com/synergy/backend/orders/model/entity/Cart.java
  backend/src/main/java/com/synergy/backend/orders/model/entity/OptionInCart.java
  backend/src/main/java/com/synergy/backend/orders/model/request/AddCartReq.java
  backend/src/main/java/com/synergy/backend/orders/model/request/VerifyCartReq.java
  backend/src/main/java/com/synergy/backend/orders/model/response/AtelierListRes.java
  backend/src/main/java/com/synergy/backend/orders/model/response/CartDTO.java
  backend/src/main/java/com/synergy/backend/orders/model/response/CartRes.java
  backend/src/main/java/com/synergy/backend/orders/model/response/OptionListRes.java
  backend/src/main/java/com/synergy/backend/orders/model/response/ProductListRes.java
  backend/src/main/java/com/synergy/backend/orders/model/response/SubOptionsRes.java
  backend/src/main/java/com/synergy/backend/orders/repository/CartRepository.java
  backend/src/main/java/com/synergy/backend/orders/repository/OptionInCartRepository.java
  backend/src/main/java/com/synergy/backend/orders/service/CartService.java
  backend/src/main/java/com/synergy/backend/product/model/entity/ProductSubOptions.java
Labels: 🍃backend

#103 [Feat]상품 리스트 페이징 처리(#해당사항없음)
  backend/src/main/java/com/synergy/backend/product/controller/ProductController.java
  backend/src/main/java/com/synergy/backend/product/querydsl/ProductRepositoryCustom.java
  backend/src/main/java/com/synergy/backend/product/querydsl/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/synergy/backend/product/service/ProductService.java
Labels: 🗺frontend, high

#106 [Feat] 로그인 페이지 기능 일부 구현
  .github/ISSUE_TEMPLATE/isssue-templates.md
  frontend/src/pages/member/LoginPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useMemberStore.js
Labels: 🗺frontend, high

#122 [Feat] 카카오 소셜 로그인 버튼 기능 추가
  frontend/src/pages/member/LoginPage.vue
Labels: 🗺frontend, high

#120 [Style]무한 스크롤 기능 구현- 주석 정리(#99)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/product/CarouselComponent.vue
  frontend/src/components/product/CarouselProductListComponent.vue
  frontend/src/components/product/ObserverComponent.vue
  frontend/src/components/product/ProductListComponent.vue
  frontend/src/router/index.js
Labels: 🗺frontend

#121 [Feat] 카카오 소셜 회원가입 / 로그인 기능 개발
  backend/build.gradle
  backend/src/main/java/com/synergy/backend/domain/member/model/request/MemberSignupReq.java
  backend/src/main/java/com/synergy/backend/global/config/SecurityConfig.java
  backend/src/main/java/com/synergy/backend/global/security/OAuth2Service.java
  backend/src/main/java/com/synergy/backend/global/security/filter/JwtFilter.java
  backend/src/main/java/com/synergy/backend/global/security/filter/OAuth2Filter.java
  backend/src/main/resources/application.yml
Labels: 🍃backend, high

#129 [Feat] 회원 정보 조회 기능 추가
  backend/src/main/java/com/synergy/backend/domain/member/controller/MemberController.java
  backend/src/main/java/com/synergy/backend/domain/member/model/response/MemberInfoRes.java
  backend/src/main/java/com/synergy/backend/domain/member/service/MemberService.java
Labels: 🍃backend

#132 [Feat] 장바구니 페이지 #127
  frontend/src/components/order/CartComponent.vue
  frontend/src/router/index.js
  frontend/src/stores/useCartStore.js
Labels: 🗺frontend

#135 [Feat]선물(보낸,받은) 리스트 조회 기능 구현
  backend/src/main/java/com/synergy/backend/domain/orders/controller/PresentController.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/entity/Orders.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/entity/OrdersDetail.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/entity/Present.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/response/PresentProductRes.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/response/PresentRes.java
  backend/src/main/java/com/synergy/backend/domain/orders/repository/OrderRepository.java
  backend/src/main/java/com/synergy/backend/domain/orders/repository/PresentRepository.java
  backend/src/main/java/com/synergy/backend/domain/orders/service/PresentService.java
  backend/src/main/java/com/synergy/backend/domain/product/model/dto/response/SearchProductRes.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/Product.java
Labels: 🍃backend

#136 [Feat] 회원정보 수정 기능 구현
  backend/src/main/java/com/synergy/backend/domain/member/controller/MemberController.java
  backend/src/main/java/com/synergy/backend/domain/member/model/entity/Member.java
  backend/src/main/java/com/synergy/backend/domain/member/model/request/MemberUpdateReq.java
  backend/src/main/java/com/synergy/backend/domain/member/service/MemberService.java
Labels: 🍃backend

#130 [Feat] 로그인 성공시 회원 정보를 스토어에 저장 할 수 있도록 구현 + 회원 수정 컴포넌트 구현
  frontend/src/components/member/UpdateMemberInfoComponent.vue
  frontend/src/pages/member/LoginPage.vue
  frontend/src/pages/member/MemberInfoPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useMemberStore.js
Labels: 🗺frontend, mid

#128 [Feat] 이미지 업로드, 구매 검증 없이 상품 리뷰 작성, 리뷰 조회 기능 구현
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/Product.java
  backend/src/main/java/com/synergy/backend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/synergy/backend/domain/review/model/entity/Review.java
  backend/src/main/java/com/synergy/backend/domain/review/model/request/CreateReviewReq.java
  backend/src/main/java/com/synergy/backend/domain/review/model/response/ReadDetailReviewRes.java
  backend/src/main/java/com/synergy/backend/domain/review/model/response/ReadListReviewRes.java
  backend/src/main/java/com/synergy/backend/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/synergy/backend/domain/review/service/ReviewService.java
  backend/src/main/java/com/synergy/backend/global/common/BaseResponseStatus.java
Labels: 🍃backend, high

#143 [Feat] 주문 배송 목록 ui, axios
  frontend/src/components/order/OrderListComponent.vue
  frontend/src/router/index.js
  frontend/src/stores/useOrderStore.js
Labels: 🗺frontend

#146 [Feat] 주문 배송 목록 조회 기능 구현(#43)
  backend/src/main/java/com/synergy/backend/domain/member/model/response/OrderListRes.java
  backend/src/main/java/com/synergy/backend/domain/orders/controller/OrderController.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/response/PresentRes.java
  backend/src/main/java/com/synergy/backend/domain/orders/querydsl/OrderRepositoryCustom.java
  backend/src/main/java/com/synergy/backend/domain/orders/querydsl/OrderRepositoryCustomImpl.java
  backend/src/main/java/com/synergy/backend/domain/orders/repository/OrderRepository.java
  backend/src/main/java/com/synergy/backend/domain/orders/service/OrderService.java
  backend/src/main/java/com/synergy/backend/domain/orders/service/PresentService.java
  backend/src/main/java/com/synergy/backend/domain/product/controller/ProductController.java
  backend/src/main/java/com/synergy/backend/domain/product/model/response/SearchProductRes.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
Labels: 🍃backend

#155 [Feat] Member 관련 페이지/컴포넌트 + Header 컴포넌트 구현
  frontend/src/components/common/HeaderComponent.vue
  frontend/src/components/member/MemberEmailFindModal.vue
  frontend/src/components/member/UpdateMemberInfoComponent.vue
  frontend/src/pages/member/LoginPage.vue
  frontend/src/pages/member/MemberEmailFindPage.vue
  frontend/src/pages/member/MemberInfoPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useMemberStore.js
Labels: 🗺frontend, high

#162 작가 페이지 ui구현
  frontend/src/components/atelier/AtelierProductListComponent.vue
  frontend/src/components/atelier/AtelierProfileComponent.vue
  frontend/src/components/atelier/AtelierReviewComponent.vue
  frontend/src/pages/atelier/AtelierPage.vue
  frontend/src/router/index.js
Labels: 🗺frontend

#163 결제 페이지 구현
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/payment/PresentPaymentPage.vue
  frontend/src/router/index.js
Labels: 🗺frontend

#164 [Feat]메인페이지 구현
  frontend/src/components/AdvertiseCarousel.vue
  frontend/src/components/product/CarouselComponent.vue
  frontend/src/components/product/CarouselProductListComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useProductStore.js
Labels: 🗺frontend

#168 [Feat] Mypage, Sidebar 추가 및 탭 추가
  frontend/src/components/mypage/MyFavoriteListComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/pages/mypage/MyPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useSidebarStore.js
Labels: 🗺frontend

#169 [Fix] 마이페이지 라우터 수정
  frontend/src/components/mypage/MyFavoriteListComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/router/index.js
Labels: 🗺frontend

#172 [Fix] ReplyService 에러수정
  backend/src/main/java/com/synergy/backend/domain/atelier/repository/AtelierRepository.java
Labels: 🍃backend

#173 [Feat] 내 등급 조회, 전체 등급 조회 기능
  backend/src/main/java/com/synergy/backend/domain/member/controller/GradeController.java
  backend/src/main/java/com/synergy/backend/domain/member/model/entity/Grade.java
  backend/src/main/java/com/synergy/backend/domain/member/model/response/GetMyGradeRes.java
  backend/src/main/java/com/synergy/backend/domain/member/model/response/GradeRes.java
  backend/src/main/java/com/synergy/backend/domain/member/repository/GradeRepository.java
  backend/src/main/java/com/synergy/backend/domain/member/service/GradeService.java
  backend/src/main/java/com/synergy/backend/domain/orders/repository/OrderRepository.java
Labels: 🍃backend

#174 [Feat] 장바구니 pinia 설정
  frontend/src/components/order/CartComponent.vue
  frontend/src/stores/useCartStore.js
Labels: 🗺frontend

#175 [Feat] 등급 스케줄러 기능 개발
  backend/src/main/java/com/synergy/backend/domain/grade/controller/GradeController.java
  backend/src/main/java/com/synergy/backend/domain/grade/model/entity/Grade.java
  backend/src/main/java/com/synergy/backend/domain/grade/model/response/GetMyGradeRes.java
  backend/src/main/java/com/synergy/backend/domain/grade/model/response/GradeRes.java
  backend/src/main/java/com/synergy/backend/domain/grade/repository/GradeRepository.java
  backend/src/main/java/com/synergy/backend/domain/grade/scheduler/GradeScheduler.java
  backend/src/main/java/com/synergy/backend/domain/grade/service/FetchGradeService.java
  backend/src/main/java/com/synergy/backend/domain/grade/service/FetchMemberService.java
  backend/src/main/java/com/synergy/backend/domain/grade/service/GradeCalculationService.java
  backend/src/main/java/com/synergy/backend/domain/grade/service/GradeService.java
  backend/src/main/java/com/synergy/backend/domain/grade/service/UpgradeService.java
  backend/src/main/java/com/synergy/backend/domain/grade/service/impl/FetchAllMemberServiceImpl.java
  backend/src/main/java/com/synergy/backend/domain/grade/service/impl/FetchConditionMemberServiceImpl.java
  backend/src/main/java/com/synergy/backend/domain/member/model/entity/Member.java
  backend/src/main/java/com/synergy/backend/domain/member/repository/MemberRepository.java
  backend/src/main/java/com/synergy/backend/global/common/BaseResponseStatus.java
  backend/src/main/java/com/synergy/backend/global/config/SchedulerConfig.java
Labels: 🍃backend

#171 [Feat] Footer 컴포넌트 추가 및 Header, Footer컴포넌트 고정
  frontend/src/App.vue
  frontend/src/components/common/FooterComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/router/index.js
Labels: 🗺frontend

#165 상품 리스트 페이지 구현
  frontend/src/components/atelier/AtelierProductListComponent.vue
  frontend/src/components/product/CarouselComponent.vue
  frontend/src/components/product/ProductList4LayoutComponent.vue
  frontend/src/components/product/ProductList5LayoutComponent.vue
  frontend/src/components/product/SideBarComponent.vue
  frontend/src/pages/product/CategoryProductListPage.vue
  frontend/src/pages/product/ProductListPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useProductStore.js
Labels: 🗺frontend

#179 [Feat]작가의 상품 리스트 조회 기능 구현(#33)
  backend/src/main/java/com/synergy/backend/domain/atelier/controller/AtelierController.java
  backend/src/main/java/com/synergy/backend/domain/atelier/model/entity/Atelier.java
  backend/src/main/java/com/synergy/backend/domain/atelier/service/AtelierService.java
  backend/src/main/java/com/synergy/backend/domain/product/controller/ProductController.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/Category.java
  backend/src/main/java/com/synergy/backend/domain/product/model/response/ProductListRes.java
  backend/src/main/java/com/synergy/backend/domain/product/model/response/SearchProductRes.java
  backend/src/main/java/com/synergy/backend/domain/product/repository/CategoryRepository.java
  backend/src/main/java/com/synergy/backend/domain/product/repository/ProductRepository.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
  backend/src/main/java/com/synergy/backend/global/DataInit.java
  backend/src/main/java/com/synergy/backend/global/common/BaseResponseStatus.java
Labels: 🍃backend

#180 [Feat] 등급 페이지 구현
  frontend/src/components/member/AddAddressComponent.vue
  frontend/src/components/member/CouponComponent.vue
  frontend/src/components/member/MypageComponent.vue
  frontend/src/components/mypage/GradeComponent.vue
  frontend/src/components/order/CartComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/router/index.js
  frontend/src/stores/useGradeStore.js
Labels: 🗺frontend

#181 [Feat]작가 페이지 - 상품 컴포넌트 수정
  frontend/src/components/atelier/AtelierProductListComponent.vue
  frontend/src/components/atelier/AtelierReviewComponent.vue
  frontend/src/components/common/HeaderComponent.vue
  frontend/src/components/product/ProductList4LayoutComponent.vue
  frontend/src/pages/atelier/AtelierPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useAtelierStore.js
Labels: 🗺frontend

#192 [Fix] 소셜 로그인 문제 해결
  backend/src/main/java/com/synergy/backend/global/config/SecurityConfig.java
  backend/src/main/java/com/synergy/backend/global/security/CustomUserDetailService.java
  backend/src/main/java/com/synergy/backend/global/security/filter/LoginFilter.java
  backend/src/main/java/com/synergy/backend/global/security/filter/OAuth2Filter.java
Labels: 🍃backend

#183 [Feat] 회원가입 / 로그인 예외처리 추가
  frontend/src/assets/cgb.png
  frontend/src/components/common/BottomHeaderComponent.vue
  frontend/src/components/common/HeaderComponent.vue
  frontend/src/components/common/MiddleHeaderComponent.vue
  frontend/src/components/common/TopHeaderComponent.vue
  frontend/src/components/member/LoginCallBackComponent.vue
  frontend/src/pages/member/LoginPage.vue
  frontend/src/pages/member/SignupPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useMemberStore.js
Labels: 🗺frontend

#194 [Feat] 바로 구매하기, 선물하기를 위한 cartIdx 리스트 암복호화
  backend/build.gradle
  backend/src/main/java/com/synergy/backend/domain/orders/controller/CartController.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/request/CartListReq.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/request/orderMessageReq.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/response/CartDTO.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/response/OptionListRes.java
  backend/src/main/java/com/synergy/backend/domain/orders/repository/CartRepository.java
  backend/src/main/java/com/synergy/backend/domain/orders/service/CartService.java
  backend/src/main/java/com/synergy/backend/global/util/AesUtil.java
  backend/src/main/resources/application.yml
Labels: 🍃backend

#195 [Feat] 바로 구매하기 ,선물하기 라우터 설정
  frontend/src/components/order/CartComponent.vue
  frontend/src/router/index.js
  frontend/src/stores/useCartStore.js
Labels: 🗺frontend

#167 [Feat] 상품 목록 상세 조회 기능 개발
  backend/src/main/java/com/synergy/backend/domain/member/model/entity/Member.java
  backend/src/main/java/com/synergy/backend/domain/product/controller/ProductController.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/Product.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/ProductImages.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/ProductMajorOptions.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/ProductSubOptions.java
  backend/src/main/java/com/synergy/backend/domain/product/model/response/ProductImagesRes.java
  backend/src/main/java/com/synergy/backend/domain/product/model/response/ProductInfoRes.java
  backend/src/main/java/com/synergy/backend/domain/product/model/response/ProductMajorOptionsRes.java
  backend/src/main/java/com/synergy/backend/domain/product/model/response/ProductSubOptionsRes.java
  backend/src/main/java/com/synergy/backend/domain/product/repository/ProductMajorOptionsRepository.java
  backend/src/main/java/com/synergy/backend/domain/product/repository/ProductRepository.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
  backend/src/main/java/com/synergy/backend/global/config/SecurityConfig.java
Labels: 🍃backend

#186 [Feat] 헤더카테고리 기능추가
  frontend/src/components/common/HeaderCategoriesComponent.vue
  frontend/src/components/common/HeaderComponent.vue
  frontend/src/components/common/MiddleHeaderComponent.vue
  frontend/src/pages/product/CategoryProductListPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useCategoryStore.js
Labels: 🗺frontend, high

#189 [Feat] 헤더카테고리 추가
  backend/src/main/java/com/synergy/backend/domain/product/controller/CategoryController.java
  backend/src/main/java/com/synergy/backend/domain/product/model/CategoryDto.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/Category.java
  backend/src/main/java/com/synergy/backend/domain/product/repository/CategoryRepository.java
  backend/src/main/java/com/synergy/backend/domain/product/service/CategoryService.java
  backend/src/main/java/com/synergy/backend/global/DataInit.java
Labels: 🍃backend

#202 [Feat] 작가 정보 조회 , 화원-팔로우 기능 구현
  backend/src/main/java/com/synergy/backend/domain/atelier/controller/AtelierController.java
  backend/src/main/java/com/synergy/backend/domain/atelier/model/entity/Atelier.java
  backend/src/main/java/com/synergy/backend/domain/atelier/model/response/AtelierProfileInfoRes.java
  backend/src/main/java/com/synergy/backend/domain/atelier/service/AtelierService.java
  backend/src/main/java/com/synergy/backend/domain/follow/controller/FollowController.java
  backend/src/main/java/com/synergy/backend/domain/follow/model/entity/Follow.java
  backend/src/main/java/com/synergy/backend/domain/follow/repository/FollowRepository.java
  backend/src/main/java/com/synergy/backend/domain/follow/service/FollowService.java
  backend/src/main/java/com/synergy/backend/global/DataInit.java
Labels: 🍃backend

#203 [Feat] 작가 프로필 정보 컴포넌트 구현
  frontend/src/components/atelier/AtelierProfileCardComponent.vue
  frontend/src/pages/atelier/AtelierPage.vue
  frontend/src/stores/useAtelierStore.js
Labels: 🗺frontend

#199 [Feat]내가 받은/보낸 선물 리스트 기능
  backend/src/main/java/com/synergy/backend/domain/orders/controller/PresentController.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/response/PresentProductRes.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/response/PresentRes.java
  backend/src/main/java/com/synergy/backend/domain/orders/repository/PresentRepository.java
  backend/src/main/java/com/synergy/backend/domain/orders/service/PresentService.java
  backend/src/main/java/com/synergy/backend/global/common/BaseResponseStatus.java
  backend/src/main/java/com/synergy/backend/global/config/SecurityConfig.java
Labels: 🍃backend

#205 [Refactor] 팔로우/언팔로우 응답 객체 변경
  backend/src/main/java/com/synergy/backend/domain/follow/controller/FollowController.java
  backend/src/main/java/com/synergy/backend/domain/follow/model/response/FollowInfoResponse.java
  backend/src/main/java/com/synergy/backend/domain/follow/service/FollowService.java
Labels: 🍃backend

#207 [Hotfix] 예외처리 누락 추가
  backend/src/main/java/com/synergy/backend/domain/member/controller/MemberController.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/response/CartDTO.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/response/ProductListRes.java
  backend/src/main/java/com/synergy/backend/domain/orders/repository/CartRepository.java
  backend/src/main/java/com/synergy/backend/domain/orders/service/CartService.java
  backend/src/main/java/com/synergy/backend/global/common/BaseResponseStatus.java
Labels: hotfix

#191 [Feat]내가 받은/보낸 선물 리스트 컴포넌트 구현
  frontend/src/components/gift/GiftGiveComponent.vue
  frontend/src/components/gift/GiftGiveDetailComponent.vue
  frontend/src/components/gift/GiftGiveListComponent.vue
  frontend/src/components/gift/GiftReceivedComponent.vue
  frontend/src/components/gift/GiftReceivedDetailComponent.vue
  frontend/src/components/gift/GiftReceivedListComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/router/index.js
  frontend/src/stores/useGiftStore.js
  frontend/src/stores/useOrderStore.js
Labels: 🗺frontend

#204 [Feat]카테고리 리스트 페이지 수정
  frontend/src/components/common/HeaderCategoriesComponent.vue
  frontend/src/components/common/HeaderComponent.vue
  frontend/src/components/common/MiddleHeaderComponent.vue
  frontend/src/components/product/CarouselComponent.vue
  frontend/src/components/product/ProductList4LayoutComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/product/CategoryProductListPage.vue
  frontend/src/pages/product/ProductListPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useCategoryStore.js
  frontend/src/stores/useProductStore.js
Labels: 🗺frontend

#208 [Refactor] 회원 수정 컴포넌트 마이페이지에 라우팅 처리
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/pages/member/MemberInfoPage.vue
  frontend/src/router/index.js
Labels: 🗺frontend

#209 [Add] 단일 상품 정보 응답 객체에 공방 정보 추가
  backend/src/main/java/com/synergy/backend/domain/product/model/response/ProductInfoRes.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
Labels: 🍃backend

#210 [Feat] 찜(좋아요) 기능추가
  backend/src/main/java/com/synergy/backend/domain/atelier/service/AtelierService.java
  backend/src/main/java/com/synergy/backend/domain/likes/controller/LikesController.java
  backend/src/main/java/com/synergy/backend/domain/likes/model/entity/Likes.java
  backend/src/main/java/com/synergy/backend/domain/likes/repository/LikesRepository.java
  backend/src/main/java/com/synergy/backend/domain/likes/service/LikesService.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/Product.java
  backend/src/main/java/com/synergy/backend/domain/product/model/response/ProductListRes.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
Labels: 🍃backend, high

#211 [Feat] 상품 상세 페이지 컴포넌트 삽입
  frontend/src/components/AskCommentComponent.vue
  frontend/src/components/product/ProductDetailLeftComponent.vue
  frontend/src/components/product/ProductDetailRightComponent.vue
  frontend/src/pages/product/ProductDetailPage.vue
  frontend/src/stores/useAskCommentStore.js
Labels: 🗺frontend

#212 [Doc]프로젝트 문서 업로드
  document/01 프로젝트 기획안/README.md
  document/02 요구사항 정의서/README.md
  document/03 WBS/README.md
  document/05 ERD/README.md
  document/06 API 명세서 /README.md
  document/07 화면설계서/README.md
Labels: 📃documentation

#214 [Feat] 팀원간 라우팅 연결 작업
  frontend/src/components/atelier/AtelierProfileCardComponent.vue
  frontend/src/components/common/BottomHeaderComponent.vue
  frontend/src/components/common/MiddleHeaderComponent.vue
  frontend/src/components/common/TopHeaderComponent.vue
  frontend/src/components/member/LoginCallBackComponent.vue
  frontend/src/components/member/UpdateMemberInfoComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/member/LoginPage.vue
  frontend/src/router/index.js
Labels: 🗺frontend

#215 [Feat] 후기 작성 모달 컴포넌트 및 후기 작성 스토어 추가
  frontend/src/components/review/ReviewModalComponent.vue
  frontend/src/stores/useReviewCreateStore.js
Labels: 🗺frontend

#216 backend initData 추가
  backend/src/main/java/com/synergy/backend/domain/hashtag/model/entity/Hashtag.java
  backend/src/main/java/com/synergy/backend/domain/hashtag/model/entity/ProductHashtag.java
  backend/src/main/java/com/synergy/backend/domain/hashtag/repository/HashTagRepository.java
  backend/src/main/java/com/synergy/backend/domain/hashtag/repository/ProductHashTagRepository.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/entity/Orders.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/entity/Present.java
  backend/src/main/java/com/synergy/backend/global/DataInit.java
Labels: 🍃backend

#220 [Feat]카카오페이 기능
  frontend/.env
  frontend/.gitignore
  frontend/public/index.html
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/stores/useOrderStore.js
Labels: 🗺frontend

#217 [Fix] params에 따른 카테고리 리스트 갱신 문제 해결
  frontend/src/components/common/HeaderCategoriesComponent.vue
  frontend/src/components/common/TopHeaderComponent.vue
  frontend/src/pages/product/CategoryProductListPage.vue
  frontend/src/stores/useCategoryStore.js
Labels: 🗺frontend

#218 [Feat]메인페이지 상품 캐러셀 디테일
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/CountDown.vue
  frontend/src/components/product/CarouselComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/atelier/AtelierPage.vue
  frontend/src/stores/useProductStore.js
Labels: 🗺frontend

#219 [Feat] 상품 상세 페이지 - 장바구니 버튼 동작 구현
  frontend/src/components/AskCommentComponent.vue
  frontend/src/components/common/HeaderCategoriesComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/pages/product/ProductDetailPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useAskCommentStore.js
  frontend/src/stores/useCartStore.js
Labels: 🗺frontend

#222 [Refactor] dto 클래스 네이밍 수정
  backend/src/main/java/com/synergy/backend/domain/orders/model/response/AtelierListRes.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/response/CartProductListRes.java
  backend/src/main/java/com/synergy/backend/domain/orders/service/CartService.java
Labels: 🍃backend

#224 [Deploy] 배포 테스트 02
  backend/src/main/java/com/synergy/backend/domain/member/controller/MemberController.java
Labels: Deploy

#225 0533 테스트 03
  backend/src/main/java/com/synergy/backend/domain/member/controller/MemberController.java
Labels: Deploy

#226 배포테스트 1
  frontend/src/App.vue
Labels: Deploy

#227 Deployment/front
  frontend/src/App.vue
Labels: Deploy

#229 [Test] jenkins 테스트 5
  frontend/src/App.vue
Labels: 🍃backend, Deploy

#231 [Deploy] 배포 테스트 09
  frontend/src/App.vue
Labels: Deploy

#232 [Test] jenkins 테스트 07
  frontend/src/App.vue
Labels: Deploy

#238 [Feat] 상품 관련 데이터 init 코드 추가
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/ProductImages.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/ProductMajorOptions.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/ProductSubOptions.java
  backend/src/main/java/com/synergy/backend/domain/product/repository/ProductImagesRepository.java
  backend/src/main/java/com/synergy/backend/global/DataInit.java
Labels: 🍃backend

#235 [Docs] ERD 수정
  document/05_ERD/README.md
Labels: 📃documentation

#237 [Feat] 리뷰 목록 조회 페이지
  frontend/src/components/order/CartComponent.vue
  frontend/src/components/review/ProductReviewListComponent.vue
  frontend/src/components/review/ReviewModalComponent.vue
  frontend/src/pages/product/ProductDetailPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useDeliveryStore.js
  frontend/src/stores/useReviewCreateStore.js
  frontend/src/stores/useReviewStore.js
Labels: 🗺frontend

#234 [Refactor] 상품 상세 응답 정보에 작가 Idx 추가
  backend/src/main/java/com/synergy/backend/domain/product/model/response/ProductInfoRes.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
Labels: 🍃backend

#239 [Feat] 상품 상세 페이지 진행중(머지x)
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/pages/product/ProductDetailPage.vue
  frontend/src/stores/useCartStore.js
  frontend/src/stores/useProductStore.js
Labels: 🗺frontend

#241 [Refactor] 회원 관련 예외처리 추가 + 로그인 성공 시 응답 정보 추가
  backend/src/main/java/com/synergy/backend/domain/follow/service/FollowService.java
  backend/src/main/java/com/synergy/backend/domain/grade/service/GradeService.java
  backend/src/main/java/com/synergy/backend/domain/member/controller/MemberEmailAuthController.java
  backend/src/main/java/com/synergy/backend/domain/member/model/response/MemberInfoRes.java
  backend/src/main/java/com/synergy/backend/domain/member/service/MemberService.java
  backend/src/main/java/com/synergy/backend/domain/orders/service/CartService.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
  backend/src/main/java/com/synergy/backend/domain/review/service/ReviewService.java
  backend/src/main/java/com/synergy/backend/global/common/BaseResponseStatus.java
Labels: 🍃backend

#240 [Refactor] 회원 관련 예외처리 + 등급 추가 + 컴공방 로고 설정
  frontend/src/components/common/MiddleHeaderComponent.vue
  frontend/src/components/common/TopHeaderComponent.vue
  frontend/src/components/member/LoginCallBackComponent.vue
  frontend/src/components/member/UpdateMemberInfoComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/pages/member/LoginPage.vue
  frontend/src/pages/member/SignupPage.vue
  frontend/src/stores/useMemberStore.js
Labels: 🗺frontend

#243 [Refactor] 회원 관련 반환 정보 추가 + 상품, 회원 버그 수정
  backend/src/main/java/com/synergy/backend/domain/grade/model/entity/Grade.java
  backend/src/main/java/com/synergy/backend/domain/member/model/entity/Member.java
  backend/src/main/java/com/synergy/backend/domain/member/model/request/MemberSignupReq.java
  backend/src/main/java/com/synergy/backend/domain/member/model/response/MemberInfoRes.java
  backend/src/main/java/com/synergy/backend/domain/member/service/MemberService.java
  backend/src/main/java/com/synergy/backend/domain/orders/repository/CartRepository.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/Product.java
  backend/src/main/java/com/synergy/backend/global/DataInit.java
  backend/src/main/java/com/synergy/backend/global/security/filter/OAuth2Filter.java
Labels: 🔨bug, 🍃backend

#244 [Feat]좋아요 기능 추가 수정
  backend/src/main/java/com/synergy/backend/domain/ask/model/entity/Ask.java
  backend/src/main/java/com/synergy/backend/domain/atelier/model/entity/Atelier.java
  backend/src/main/java/com/synergy/backend/domain/atelier/service/AtelierService.java
  backend/src/main/java/com/synergy/backend/domain/likes/model/entity/Likes.java
  backend/src/main/java/com/synergy/backend/domain/likes/service/LikesService.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/Product.java
  backend/src/main/java/com/synergy/backend/domain/product/model/response/ProductListRes.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
Labels: 🍃backend

#246 [Feat] 장바구니 삭제, 암복호화 개선, 장바구니 중복 처리
  backend/src/main/java/com/synergy/backend/domain/orders/controller/CartController.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/entity/Cart.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/request/AddCartReq.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/request/deleteCartListDirectReq.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/request/deleteCartListReq.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/type/CartType.java
  backend/src/main/java/com/synergy/backend/domain/orders/repository/CartRepository.java
  backend/src/main/java/com/synergy/backend/domain/orders/repository/OptionInCartRepository.java
  backend/src/main/java/com/synergy/backend/domain/orders/service/CartService.java
  backend/src/main/java/com/synergy/backend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/synergy/backend/domain/review/model/response/ProductReviewRes.java
  backend/src/main/java/com/synergy/backend/domain/review/model/response/ReviewListResponse.java
  backend/src/main/java/com/synergy/backend/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/synergy/backend/domain/review/service/ReviewService.java
  backend/src/main/java/com/synergy/backend/global/config/SecurityConfig.java
Labels: 🍃backend

#247 [Feat] 상세상품페이지에 이미지 캐러셀 추가
  frontend/src/components/common/FooterComponent.vue
  frontend/src/components/product/CarouselProductDetailComponent.vue
  frontend/src/pages/mypage/MyPage.vue
  frontend/src/pages/product/ProductDetailPage.vue
Labels: 🗺frontend

#248 [Feat] 헤더, 작품정보,비밀댓글 수정
  frontend/src/components/AskCommentComponent.vue
  frontend/src/components/common/TopHeaderComponent.vue
  frontend/src/pages/product/ProductDetailPage.vue
Labels: 🔨bug, 🗺frontend

#251 [Fix] vue-warn clippath 문법 오류 수정
  frontend/src/components/common/MiddleHeaderComponent.vue
  frontend/src/components/gift/GiftGiveComponent.vue
  frontend/src/components/gift/GiftReceivedComponent.vue
  frontend/src/components/member/AddAddressComponent.vue
  frontend/src/components/member/DeliveryComponent.vue
  frontend/src/components/member/MemberEmailFindModal.vue
  frontend/src/components/member/UpdateMemberInfoComponent.vue
  frontend/src/components/mypage/GradeComponent.vue
  frontend/src/components/order/OrderListComponent.vue
  frontend/src/components/product/ProductComponent.vue
  frontend/src/components/product/ProductDetailLeftComponent.vue
  frontend/src/components/product/ProductDetailRightComponent.vue
  frontend/src/components/review/ReviewModalComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/pages/member/LoginPage.vue
  frontend/src/pages/member/MemberEmailFindPage.vue
  frontend/src/pages/member/SignupPage.vue
Labels: 🗺frontend

#249 [Feat] 상품 키워드 검색 기능
  backend/src/main/java/com/synergy/backend/domain/product/controller/ProductController.java
  backend/src/main/java/com/synergy/backend/domain/product/querydsl/ProductRepositoryCustom.java
  backend/src/main/java/com/synergy/backend/domain/product/querydsl/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/synergy/backend/domain/product/repository/CategoryRepository.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
  backend/src/main/java/com/synergy/backend/global/DataInit.java
Labels: 🍃backend

#253 [Feat] 상품 상세 페이지 수정
  backend/src/main/java/com/synergy/backend/domain/product/model/response/ProductMajorOptionsRes.java
  backend/src/main/java/com/synergy/backend/domain/product/model/response/ProductSubOptionsRes.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
Labels: 🍃backend

#254 [Feat]상품 상세 페이지 결제 컴포넌트 부분 개선
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/pages/product/ProductDetailPage.vue
  frontend/src/stores/useCartStore.js
Labels: 🗺frontend

#255 [Feat] 공방 상품에 대한 좋아요 여부 조회 기능 구현
  backend/src/main/java/com/synergy/backend/domain/atelier/repository/AtelierRepository.java
  backend/src/main/java/com/synergy/backend/domain/atelier/service/AtelierService.java
  backend/src/main/java/com/synergy/backend/domain/likes/model/response/LikesInfoResponse.java
  backend/src/main/java/com/synergy/backend/domain/likes/repository/LikesRepository.java
  backend/src/main/java/com/synergy/backend/domain/likes/service/LikesService.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/Product.java
  backend/src/main/java/com/synergy/backend/domain/product/model/response/ProductInfoRes.java
  backend/src/main/java/com/synergy/backend/domain/product/model/response/ProductListRes.java
  backend/src/main/java/com/synergy/backend/domain/product/repository/ProductRepository.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
  backend/src/main/java/com/synergy/backend/global/DataInit.java
Labels: 🍃backend

#264 [Hotfix] Response 객체 인식 수정
  backend/src/main/java/com/synergy/backend/domain/likes/model/response/LikesInfoResponse.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
Labels: 🍃backend

#257 [Feat] 좋아요 기능
  frontend/src/components/mypage/MyFavoriteListComponent.vue
  frontend/src/components/product/ProductComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/components/product/ProductList4LayoutComponent.vue
  frontend/src/components/product/ProductList5LayoutComponent.vue
  frontend/src/pages/product/ProductDetailPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useAtelierStore.js
  frontend/src/stores/useLikesStore.js
Labels: 🗺frontend

#256 [Feat] 팔로우하는 작가
  frontend/src/components/mypage/BaseTabComponent.vue
  frontend/src/components/mypage/FollowAtelierListComponent.vue
  frontend/src/components/mypage/MyFavoriteListComponent.vue
  frontend/src/pages/product/ProductListPage.vue
  frontend/src/stores/useFollowStore.js
Labels: 🗺frontend

#259 [Feat] actuator, prometheus , 장바구니 개선
  backend/build.gradle
  backend/src/main/java/com/synergy/backend/domain/orders/controller/CartController.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/request/AddCartReq.java
  backend/src/main/java/com/synergy/backend/domain/orders/repository/CartRepository.java
  backend/src/main/java/com/synergy/backend/domain/orders/service/CartService.java
  backend/src/main/java/com/synergy/backend/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/synergy/backend/global/InitData/DataInit.java
  backend/src/main/java/com/synergy/backend/global/InitData/InitDataWith300000.java
Labels: 🍃backend

#261 [Feat] 헤더 수정
  frontend/src/components/common/BottomHeaderComponent.vue
Labels: 🗺frontend

#263 [Feat] 내가 쓴 리뷰, 작성 가능한 리뷰, 장바구니 삭제
  frontend/src/components/order/CartComponent.vue
  frontend/src/components/order/OrderDetailComponent.vue
  frontend/src/components/review/ReviewOfPurposeComponent.vue
  frontend/src/components/review/WritableReviewComponent.vue
  frontend/src/components/review/WrittenReviewComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/router/index.js
  frontend/src/stores/useCartStore.js
  frontend/src/stores/useDeliveryStore.js
  frontend/src/stores/useReviewStore.js
Labels: 🗺frontend

#265 [Feat] Refresh Token 구현
  backend/src/main/java/com/synergy/backend/global/config/SecurityConfig.java
  backend/src/main/java/com/synergy/backend/global/security/filter/JwtFilter.java
  backend/src/main/java/com/synergy/backend/global/security/filter/LoginFilter.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/model/RefreshToken.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/repository/RefreshTokenRepository.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/service/RefreshTokenService.java
  backend/src/main/java/com/synergy/backend/global/util/JwtUtil.java
Labels: 🍃backend

#268 [Feat] 장바구니 개선
  frontend/src/components/order/CartComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/stores/useCartStore.js
Labels: 🗺frontend

#269 [Fix]좋아요 기능 예외처리(#260)
  frontend/src/components/common/MiddleHeaderComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/components/product/ProductList4LayoutComponent.vue
  frontend/src/components/product/ProductList5LayoutComponent.vue
  frontend/src/pages/product/CategoryProductListPage.vue
  frontend/src/pages/product/ProductListPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useLikesStore.js
  frontend/src/stores/useProductStore.js
Labels: 🗺frontend

#273 [Feat] 상품 캐러셀 더보기 연결
  frontend/src/pages/MainPage.vue
  frontend/src/pages/product/HashTagProductListPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useProductStore.js
Labels: 🗺frontend

#275 [Fix]좋아요 기능 예외처리
  backend/src/main/java/com/synergy/backend/domain/likes/controller/LikesController.java
  backend/src/main/java/com/synergy/backend/global/InitData/DataInit.java
Labels: 🍃backend
