Repository beyond-sw-camp/be06-fin-SYNergy-ComeGongBang, pull requests merged in 2024-10, with the labels that each got.

#272 [Refactor] 프론트 전체 기능 점검 및 수정
  frontend/src/components/common/TopHeaderComponent.vue
  frontend/src/stores/useAtelierStore.js
  frontend/src/stores/useMemberStore.js
Labels: 🗺frontend

#274 [Refactor,Fix] 소셜 Refresh Token 추가, 쿠키 없을 때 로그아웃 요청 에러 해결
  backend/src/main/java/com/synergy/backend/global/config/SecurityConfig.java
  backend/src/main/java/com/synergy/backend/global/security/filter/OAuth2Filter.java
Labels: 🔨bug, 🍃backend

#276 [Feat]공방 페이지 라우팅 처리
  frontend/src/components/atelier/AtelierProductListComponent.vue
  frontend/src/components/atelier/AtelierProfileCardComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/pages/atelier/AtelierPage.vue
  frontend/src/pages/product/ProductDetailPage.vue
  frontend/src/router/index.js
Labels: 🗺frontend

#271 [Feat] 상세페이지 사진캐러셀, 문의댓글, 공방컴포넌트 수정
  frontend/src/components/AskCommentComponent.vue
  frontend/src/components/common/MiddleHeaderComponent.vue
  frontend/src/components/product/CarouselProductDetailComponent.vue
  frontend/src/pages/product/ProductDetailPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useAskCommentStore.js
Labels: 🗺frontend

#280 에러사항들 처리
  frontend/src/components/common/BottomHeaderComponent.vue
  frontend/src/components/common/MiddleHeaderComponent.vue
  frontend/src/components/order/OrderListComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/stores/useOrderStore.js
Labels: 🗺frontend

#281 [Feat] 공방 팔로우 응답 안에 공방 이미지들 정보 추가
  backend/src/main/java/com/synergy/backend/domain/atelier/repository/AtelierProfileImagesRepository.java
  backend/src/main/java/com/synergy/backend/domain/follow/service/FollowService.java
Labels: 🍃backend

#283 [Feat] 장바구니에 연결되지 않은 링크, 할인율 연결
  frontend/src/components/coupon/CouponComponent.vue
  frontend/src/components/order/CartComponent.vue
  frontend/src/router/index.js
  frontend/src/stores/useCartStore.js
Labels: 🗺frontend

#284 [Feat] 쿠폰 발행 기본 기능, 등급 할인율 조회 api
  backend/src/main/java/com/synergy/backend/domain/coupon/controller/CouponController.java
  backend/src/main/java/com/synergy/backend/domain/coupon/model/entity/Coupon.java
  backend/src/main/java/com/synergy/backend/domain/coupon/model/entity/MemberCoupon.java
  backend/src/main/java/com/synergy/backend/domain/coupon/model/type/IssueDate.java
  backend/src/main/java/com/synergy/backend/domain/coupon/repository/CouponRepository.java
  backend/src/main/java/com/synergy/backend/domain/coupon/service/CouponService.java
  backend/src/main/java/com/synergy/backend/domain/grade/controller/GradeController.java
  backend/src/main/java/com/synergy/backend/domain/grade/service/GradeService.java
  backend/src/main/java/com/synergy/backend/global/InitData/DataInit.java
  backend/src/main/java/com/synergy/backend/global/common/BaseResponseStatus.java
Labels: 🍃backend

#285 [Fix] 문의 비밀댓글 Boolean타입으로 수정
  backend/src/main/java/com/synergy/backend/domain/ask/controller/AskController.java
  backend/src/main/java/com/synergy/backend/domain/ask/model/request/AskReq.java
  backend/src/main/java/com/synergy/backend/domain/ask/service/AskService.java
Labels: 🍃backend

#286 [Fix] 디테일 개선
  frontend/src/components/common/EmptyContentComponent.vue
  frontend/src/components/order/OrderListComponent.vue
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/stores/useOrderStore.js
Labels: 🗺frontend

#287 [Fix] 디테일 개선
  backend/build.gradle
  backend/src/main/java/com/synergy/backend/domain/orders/controller/OrderController.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/request/OrderInfoReq.java
  backend/src/main/java/com/synergy/backend/domain/orders/querydsl/OrderRepositoryCustom.java
  backend/src/main/java/com/synergy/backend/domain/orders/querydsl/OrderRepositoryCustomImpl.java
  backend/src/main/java/com/synergy/backend/domain/orders/service/OrderService.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/Product.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
  backend/src/main/resources/application.yml
Labels: 🍃backend

#289 [Fix] 상품 리스트 디테일 수정
  frontend/src/components/common/HeaderCategoriesComponent.vue
  frontend/src/components/product/ProductComponent.vue
  frontend/src/components/product/ProductDetailLeftComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/product/CategoryProductListPage.vue
  frontend/src/pages/product/HashTagProductListPage.vue
  frontend/src/stores/useProductStore.js
Labels: 🗺frontend

#290 [Fix]상품 리스트 필터링 추가 및 디테일 수정
  backend/src/main/java/com/synergy/backend/domain/product/controller/ProductController.java
  backend/src/main/java/com/synergy/backend/domain/product/model/request/CategoryProductListReq.java
  backend/src/main/java/com/synergy/backend/domain/product/querydsl/ProductRepositoryCustom.java
  backend/src/main/java/com/synergy/backend/domain/product/querydsl/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
Labels: 🍃backend

#288 [Fix] 색 수정 및 수정
  frontend/src/components/common/HeaderCategoriesComponent.vue
  frontend/src/components/common/MiddleHeaderComponent.vue
  frontend/src/components/gift/GiftGiveComponent.vue
  frontend/src/components/gift/GiftGiveListComponent.vue
  frontend/src/components/gift/GiftReceivedComponent.vue
  frontend/src/components/gift/GiftReceivedDetailComponent.vue
  frontend/src/components/gift/GiftReceivedListComponent.vue
  frontend/src/components/member/CouponComponent.vue
  frontend/src/components/member/DeliveryComponent.vue
  frontend/src/components/member/UpdateMemberInfoComponent.vue
  frontend/src/components/mypage/FollowAtelierListComponent.vue
  frontend/src/components/mypage/GradeComponent.vue
  frontend/src/components/mypage/MyFavoriteListComponent.vue
  frontend/src/components/order/CartComponent.vue
  frontend/src/components/order/OrderDetailComponent.vue
  frontend/src/components/product/SideBarComponent.vue
  frontend/src/components/review/ReviewModalComponent.vue
  frontend/src/components/review/WritableReviewComponent.vue
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/product/HashTagProductListPage.vue
  frontend/src/pages/product/ProductDetailPage.vue
  frontend/src/pages/product/ProductListPage.vue
  frontend/src/stores/useFollowStore.js
Labels: 🔨bug, 🗺frontend

#292 [Fix] 상품 디테일 페이지 머지 에러 해결
  frontend/src/pages/product/ProductDetailPage.vue
Labels: 🗺frontend

#296 [Feat] 등급, 쿠폰 스케줄러 로그 추가 , cart getCart 로직 수정
  backend/src/main/java/com/synergy/backend/domain/coupon/controller/CouponController.java
  backend/src/main/java/com/synergy/backend/domain/coupon/model/entity/Coupon.java
  backend/src/main/java/com/synergy/backend/domain/coupon/model/type/CouponType.java
  backend/src/main/java/com/synergy/backend/domain/coupon/repository/CouponRepository.java
  backend/src/main/java/com/synergy/backend/domain/coupon/scheduler/CouponScheduler.java
  backend/src/main/java/com/synergy/backend/domain/coupon/service/CouponService.java
  backend/src/main/java/com/synergy/backend/domain/grade/model/entity/Grade.java
  backend/src/main/java/com/synergy/backend/domain/grade/model/response/GetMyGradeRes.java
  backend/src/main/java/com/synergy/backend/domain/grade/scheduler/GradeScheduler.java
  backend/src/main/java/com/synergy/backend/domain/grade/service/GradeService.java
  backend/src/main/java/com/synergy/backend/domain/orders/controller/CartController.java
  backend/src/main/java/com/synergy/backend/domain/orders/repository/CartRepository.java
  backend/src/main/java/com/synergy/backend/domain/orders/repository/OrderRepository.java
  backend/src/main/java/com/synergy/backend/domain/orders/service/CartService.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/Product.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/ProductMajorOptions.java
  backend/src/main/java/com/synergy/backend/global/InitData/InitDataWith300000.java
  backend/src/main/java/com/synergy/backend/global/InitData/user1000.java
  backend/src/main/java/com/synergy/backend/global/common/BaseResponseStatus.java
Labels: 🍃backend

#298 [Feat] 자동 스크롤 구현, css 정리
  frontend/src/components/member/DeliveryComponent.vue
  frontend/src/components/mypage/GradeComponent.vue
  frontend/src/components/order/CartComponent.vue
  frontend/src/router/index.js
  frontend/src/stores/useCartStore.js
  frontend/src/stores/useDeliveryStore.js
  frontend/src/stores/useReviewStore.js
Labels: 🗺frontend

#293 [Feat] 후기작성모달 추가(데이터 맵핑X)
  frontend/public/index.html
  frontend/src/components/atelier/AtelierProfileCardComponent.vue
  frontend/src/components/common/MiddleHeaderComponent.vue
  frontend/src/components/member/CouponComponent.vue
  frontend/src/components/member/DeliveryComponent.vue
  frontend/src/components/mypage/FollowAtelierListComponent.vue
  frontend/src/components/mypage/MyFavoriteListComponent.vue
  frontend/src/components/order/CartComponent.vue
  frontend/src/components/order/OrderListComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/components/review/ReviewModalComponent.vue
  frontend/src/components/review/WritableReviewComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/product/ProductDetailPage.vue
Labels: 🗺frontend

#299 [Feat] refresh token 전략으로 블랙리스트 추가
  backend/src/main/java/com/synergy/backend/global/config/SecurityConfig.java
  backend/src/main/java/com/synergy/backend/global/security/filter/JwtFilter.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/model/BlackListToken.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/repository/BlackListTokenRepository.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/service/BlackListTokenService.java
Labels: 🍃backend

#301 [Feat] 이벤트 쿠폰 개선
  backend/src/main/java/com/synergy/backend/domain/coupon/repository/MemberCouponRepository.java
  backend/src/main/java/com/synergy/backend/domain/coupon/service/CouponService.java
  backend/src/main/java/com/synergy/backend/global/common/BaseResponseStatus.java
Labels: 🍃backend

#303 [Feat] 배송지 없을 때 페이지
  frontend/src/components/member/DeliveryComponent.vue
Labels: 🗺frontend

#304 [Fix] 디테일 수정
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/components/common/BottomHeaderComponent.vue
  frontend/src/components/common/CountDown.vue
  frontend/src/components/common/HeaderCategoriesComponent.vue
  frontend/src/components/common/MiddleHeaderComponent.vue
  frontend/src/components/order/CartComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/product/ProductDetailPage.vue
  frontend/src/pages/product/ProductListPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useCartStore.js
  frontend/src/stores/useMemberStore.js
  frontend/src/stores/useOrderStore.js
Labels: 🗺frontend

#305 [Fix] 결제 코드 진행중
  backend/src/main/java/com/synergy/backend/domain/orders/controller/OrderController.java
  backend/src/main/java/com/synergy/backend/domain/orders/repository/CartRepository.java
  backend/src/main/java/com/synergy/backend/domain/orders/repository/OptionInCartRepository.java
  backend/src/main/java/com/synergy/backend/domain/orders/service/OrderService.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/ProductSubOptions.java
  backend/src/main/java/com/synergy/backend/domain/product/repository/ProductSubOptionsRepository.java
  backend/src/main/java/com/synergy/backend/global/common/BaseResponseStatus.java
  backend/src/main/java/com/synergy/backend/global/config/impConfig.java
Labels: 🍃backend

#309 [Add] 단일 상품, 해시태그 상품 조회 회원 좋아요 여부 추가
  backend/src/main/java/com/synergy/backend/domain/product/controller/ProductController.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/Product.java
  backend/src/main/java/com/synergy/backend/domain/product/model/response/ProductInfoRes.java
  backend/src/main/java/com/synergy/backend/domain/product/querydsl/ProductRepositoryCustom.java
  backend/src/main/java/com/synergy/backend/domain/product/querydsl/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
Labels: 🍃backend

#302 [Refactor] 마이페이지 기본기능 수정 + 좋아요 관련 수정
  frontend/src/components/common/README.md
  frontend/src/components/member/AddAddressComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/components/product/ProductList4LayoutComponent.vue
  frontend/src/components/product/ProductList5LayoutComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/stores/useMemberStore.js
  frontend/src/stores/useProductStore.js
Labels: 🗺frontend

#308 [Feat] 각종 CSS, 배송지 삭제 등
  frontend/src/components/common/BottomHeaderComponent.vue
  frontend/src/components/member/DeliveryComponent.vue
  frontend/src/components/mypage/GradeComponent.vue
  frontend/src/components/review/WrittenReviewComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/stores/useDeliveryStore.js
  frontend/src/stores/useReviewStore.js
  frontend/src/utils/formatDate.js
  frontend/src/utils/formatPrice.js
Labels: 🗺frontend

#310 [Add] 장바구니 물품 개수만큼 상단 헤더에 표시
  frontend/src/components/common/MiddleHeaderComponent.vue
  frontend/src/components/order/CartComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/stores/useCartStore.js
  frontend/src/stores/useMemberStore.js
Labels: 🗺frontend

#311 [Add] 장바구니 담은 상품 개수 반환
  backend/src/main/java/com/synergy/backend/domain/member/service/MemberService.java
Labels: 🍃backend

#316 [Fix] 팔로우 / 좋아요 관련 오류 수정 및 실시간 변동 추적
  frontend/src/components/atelier/AtelierProfileCardComponent.vue
  frontend/src/components/gift/GiftGiveListComponent.vue
  frontend/src/components/gift/GiftReceivedListComponent.vue
  frontend/src/components/mypage/FollowAtelierListComponent.vue
  frontend/src/components/mypage/MyFavoriteListComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/components/product/ProductList4LayoutComponent.vue
  frontend/src/pages/product/ProductDetailPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useAtelierStore.js
  frontend/src/stores/useLikesStore.js
Labels: 🗺frontend

#317 [Feat] 내 쿠폰 목록 조회
  backend/src/main/java/com/synergy/backend/domain/coupon/controller/CouponController.java
  backend/src/main/java/com/synergy/backend/domain/coupon/model/entity/Coupon.java
  backend/src/main/java/com/synergy/backend/domain/coupon/model/entity/MemberCoupon.java
  backend/src/main/java/com/synergy/backend/domain/coupon/model/request/CouponListRes.java
  backend/src/main/java/com/synergy/backend/domain/coupon/repository/MemberCouponRepository.java
  backend/src/main/java/com/synergy/backend/domain/coupon/service/CouponService.java
Labels: 🍃backend

#313 [Feat] 작성 가능한 후기 목록
  backend/src/main/java/com/synergy/backend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/synergy/backend/domain/review/model/response/WritableReviewRes.java
  backend/src/main/java/com/synergy/backend/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/synergy/backend/domain/review/service/ReviewService.java
Labels: 🍃backend

#315 [Feat] 작성 가능한 후기 목록 컴포넌트
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/components/review/ReviewOfPurposeComponent.vue
  frontend/src/components/review/WritableReviewComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/pages/product/HashTagProductListPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useReviewStore.js
Labels: 🗺frontend

#320 [Fix] 5 Layout 좋아요 실시간 변동 수정
  frontend/src/components/mypage/FollowAtelierListComponent.vue
  frontend/src/components/mypage/MyFavoriteListComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/components/product/ProductList5LayoutComponent.vue
  frontend/src/stores/useFollowStore.js
Labels: 🗺frontend

#322 [Fix] 기본 기능 테스트중 수정
  frontend/src/components/AskCommentComponent.vue
  frontend/src/components/order/CartComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/payment/PresentPaymentPage.vue
  frontend/src/pages/product/ProductDetailPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useCartStore.js
  frontend/src/stores/useGiftStore.js
  frontend/src/stores/useMemberStore.js
  frontend/src/stores/useOrderStore.js
Labels: 🗺frontend

#323 [Fix] 기능 테스트 중 수정
  backend/src/main/java/com/synergy/backend/domain/ask/controller/AskController.java
  backend/src/main/java/com/synergy/backend/domain/ask/service/AskService.java
  backend/src/main/java/com/synergy/backend/domain/member/controller/MemberController.java
  backend/src/main/java/com/synergy/backend/domain/member/model/request/IsMemberReq.java
  backend/src/main/java/com/synergy/backend/domain/member/service/MemberService.java
  backend/src/main/java/com/synergy/backend/domain/orders/controller/CartController.java
  backend/src/main/java/com/synergy/backend/domain/orders/controller/OrderController.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/request/OrderConfirmReq.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/request/OrderPresentReq.java
  backend/src/main/java/com/synergy/backend/domain/orders/service/OrderService.java
Labels: 🍃backend

#326 [Feat] 이벤트 쿠폰 목록 조회 기능
  backend/src/main/java/com/synergy/backend/domain/coupon/controller/CouponController.java
  backend/src/main/java/com/synergy/backend/domain/coupon/model/response/EventCouponListRes.java
  backend/src/main/java/com/synergy/backend/domain/coupon/model/response/MyCouponListRes.java
  backend/src/main/java/com/synergy/backend/domain/coupon/model/type/IssueDate.java
  backend/src/main/java/com/synergy/backend/domain/coupon/repository/CouponRepository.java
  backend/src/main/java/com/synergy/backend/domain/coupon/service/CouponService.java
Labels: 🍃backend

#327 [Design] 버튼 색상 변경
  frontend/src/components/member/UpdateMemberInfoComponent.vue
Labels: 🗺frontend

#329 [Design] 팔로우하는 작가 썸네일 css수정
  frontend/src/components/common/HeaderCategoriesComponent.vue
  frontend/src/components/mypage/FollowAtelierListComponent.vue
Labels: 🔨bug, 🗺frontend

#330 [Fix] 디테일 수정
  frontend/src/components/AskCommentComponent.vue
  frontend/src/components/common/HeaderCategoriesComponent.vue
  frontend/src/components/gift/GiftGiveListComponent.vue
  frontend/src/components/mypage/BaseTabComponent.vue
  frontend/src/components/order/CartComponent.vue
  frontend/src/components/product/CarouselProductDetailComponent.vue
  frontend/src/components/product/ProductComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/components/product/ProductList5LayoutComponent.vue
  frontend/src/components/review/ReviewModalComponent.vue
  frontend/src/components/review/ReviewOfPurposeComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/pages/member/LoginPage.vue
  frontend/src/pages/member/SignupPage.vue
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/payment/PresentPaymentPage.vue
  frontend/src/pages/product/ProductDetailPage.vue
  frontend/src/stores/useAskCommentStore.js
  frontend/src/stores/useAtelierStore.js
  frontend/src/stores/useCartStore.js
  frontend/src/stores/useDeliveryStore.js
  frontend/src/stores/useGradeStore.js
  frontend/src/stores/useLikesStore.js
  frontend/src/stores/useMemberStore.js
  frontend/src/stores/useOrderStore.js
  frontend/src/stores/useProductStore.js
  frontend/src/stores/useReviewStore.js
Labels: 🗺frontend

#331 [Refactor/Fix] 프론트엔드 에러,디자인 수정
  frontend/src/components/AdvertiseCarousel.vue
  frontend/src/components/atelier/AtelierProfileCardComponent.vue
  frontend/src/components/common/FooterComponent.vue
  frontend/src/components/common/TopHeaderComponent.vue
  frontend/src/components/product/ProductDetailLeftComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/components/product/ProductDetailRightComponent.vue
Labels: 🔨bug, 🗺frontend

#332 [Feat] 이벤트 쿠폰 리스트 페이지, 쿠폰 발급
  frontend/src/components/common/BottomHeaderComponent.vue
  frontend/src/components/coupon/CouponComponent.vue
  frontend/src/components/coupon/eventCouponComponent.vue
  frontend/src/components/coupon/myCouponListComponent.vue
  frontend/src/components/review/WrittenReviewComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/router/index.js
  frontend/src/stores/useCouponStore.js
Labels: 🗺frontend

#335 [Fix] 디테일 수정
  frontend/src/components/member/DeliveryModalComponent.vue
  frontend/src/components/order/CartComponent.vue
  frontend/src/components/product/ProductComponent.vue
  frontend/src/components/review/ProductReviewListComponent.vue
  frontend/src/components/review/ReviewOfPurposeComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/payment/PresentPaymentPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useDeliveryStore.js
  frontend/src/stores/useOrderStore.js
  frontend/src/stores/useReviewStore.js
Labels: 🗺frontend

#336 [Fix] 디테일 수정
  backend/src/main/java/com/synergy/backend/domain/orders/controller/OrderController.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/response/isWritableRes.java
  backend/src/main/java/com/synergy/backend/domain/orders/repository/OrderRepository.java
  backend/src/main/java/com/synergy/backend/domain/orders/service/OrderService.java
  backend/src/main/java/com/synergy/backend/domain/review/model/response/ProductReviewRes.java
  backend/src/main/java/com/synergy/backend/domain/review/model/response/ReviewListResponse.java
  backend/src/main/java/com/synergy/backend/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/synergy/backend/domain/review/service/ReviewService.java
Labels: 🍃backend

#340 [Feat] 회원탈퇴 api 구현
  backend/src/main/java/com/synergy/backend/domain/follow/model/entity/Follow.java
  backend/src/main/java/com/synergy/backend/domain/likes/model/entity/Likes.java
  backend/src/main/java/com/synergy/backend/domain/member/controller/MemberController.java
  backend/src/main/java/com/synergy/backend/domain/member/model/entity/Member.java
  backend/src/main/java/com/synergy/backend/domain/member/service/MemberService.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/entity/Cart.java
  backend/src/main/java/com/synergy/backend/global/common/BaseResponseStatus.java
Labels: 🍃backend

#342 [feat] sweetalert 적용
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AskCommentComponent.vue
  frontend/src/components/common/BottomHeaderComponent.vue
  frontend/src/components/common/MiddleHeaderComponent.vue
  frontend/src/components/common/TopHeaderComponent.vue
  frontend/src/components/gift/GiftReceivedDetailComponent.vue
  frontend/src/components/member/UpdateMemberInfoComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/components/product/ProductList4LayoutComponent.vue
  frontend/src/components/product/ProductList5LayoutComponent.vue
  frontend/src/components/review/ProductReviewListComponent.vue
  frontend/src/components/review/ReviewModalComponent.vue
  frontend/src/main.js
  frontend/src/pages/member/LoginPage.vue
  frontend/src/pages/member/SignupPage.vue
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/payment/PresentPaymentPage.vue
  frontend/src/pages/product/ProductDetailPage.vue
  frontend/src/stores/useCartStore.js
  frontend/src/stores/useDeliveryStore.js
  frontend/src/stores/useLikesStore.js
  frontend/src/stores/useOrderStore.js
Labels: 🗺frontend

#339 [Fix, Feat] 소셜 로그인처리 에러 수정 + 회원 탈퇴 버튼 및 모달 구현
  frontend/src/components/member/LoginCallBackComponent.vue
  frontend/src/components/member/MemberEmailFindModal.vue
  frontend/src/components/member/UpdateMemberInfoComponent.vue
  frontend/src/pages/member/MemberEmailFindPage.vue
  frontend/src/stores/useMemberStore.js
Labels: 🔨bug, 🗺frontend

#346 [Feat] 예외 페이지 생성
  frontend/src/api/response.js
  frontend/src/components/coupon/eventCouponComponent.vue
  frontend/src/components/error/ErrorComponent.vue
  frontend/src/components/error/NotFoundComponent.vue
  frontend/src/main.js
  frontend/src/router/index.js
Labels: 🗺frontend

#341 [Fix] 상품 카테고리 검색 에러, 결제 에러 수정
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/product/CategoryProductListPage.vue
  frontend/src/stores/useOrderStore.js
  frontend/src/stores/useProductStore.js
Labels: 🗺frontend

#347 [Feat] 글로벌 예외처리기 500제거
  backend/src/main/java/com/synergy/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/resources/application.yml
Labels: 🍃backend

#348 [Feat] 프론트 404 예외처리 변경
  frontend/src/api/response.js
  frontend/src/components/error/ErrorComponent.vue
Labels: 🗺frontend

#349 [HotFix] 라이브러리 도입 오류 수정
  frontend/src/components/AskCommentComponent.vue
  frontend/src/components/common/BottomHeaderComponent.vue
  frontend/src/components/common/MiddleHeaderComponent.vue
  frontend/src/components/common/TopHeaderComponent.vue
  frontend/src/components/gift/GiftReceivedDetailComponent.vue
  frontend/src/components/member/UpdateMemberInfoComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/components/product/ProductList4LayoutComponent.vue
  frontend/src/components/product/ProductList5LayoutComponent.vue
  frontend/src/components/review/ProductReviewListComponent.vue
  frontend/src/components/review/ReviewModalComponent.vue
  frontend/src/pages/member/LoginPage.vue
  frontend/src/pages/member/SignupPage.vue
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/payment/PresentPaymentPage.vue
  frontend/src/pages/product/ProductDetailPage.vue
  frontend/src/stores/useAtelierStore.js
  frontend/src/stores/useCartStore.js
  frontend/src/stores/useDeliveryStore.js
  frontend/src/stores/useLikesStore.js
  frontend/src/stores/useOrderStore.js
Labels: 🔨bug, 🗺frontend

#350 [Fix] 비로그인 회원 팔로우 시도 예외처리 추가
  backend/src/main/java/com/synergy/backend/domain/follow/controller/FollowController.java
Labels: 🔨bug, 🍃backend

#351 [Feat] Oauth2 failure 핸들러 구현
  backend/src/main/java/com/synergy/backend/global/config/SecurityConfig.java
  backend/src/main/java/com/synergy/backend/global/security/filter/OAuth2AuthenticationFailureHandler.java
Labels: 🍃backend

#352 [Fix] 모달창 alert로 변경하기
  frontend/src/components/coupon/eventCouponComponent.vue
Labels: 🗺frontend, hotfix

#355 [Fix] 팔로우하는 작가 수정 및 최근본상품삭제
  frontend/src/components/mypage/BaseTabComponent.vue
  frontend/src/components/mypage/FollowAtelierListComponent.vue
  frontend/src/components/mypage/MyFavoriteListComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
Labels: bug, 🗺frontend

#357 [Fix] 팔로우하는 작가 router-link 수정 및 주문배송내역 css수정
  frontend/src/components/mypage/FollowAtelierListComponent.vue
  frontend/src/components/order/OrderListComponent.vue
Labels: bug, 🗺frontend

#356 [Merge] Frontend/develop <-> Deployment/front merge
  cicd/frontend/docker/Dockerfile
  cicd/frontend/docker/default.conf
  cicd/frontend/jenkins/jenkinsfile
  cicd/frontend/kubernetes/deployment-blue.yml
  cicd/frontend/kubernetes/deployment-green.yml
  frontend/Dockerfile
  frontend/src/components/product/ProductList5LayoutComponent.vue
  frontend/src/stores/useMemberStore.js
Labels: 🗺frontend

#367 [Refactor] 카테고리 조회시 최초 한번만 하도록 성능개선
  frontend/src/components/common/HeaderCategoriesComponent.vue
  frontend/src/components/common/MiddleHeaderComponent.vue
  frontend/src/stores/useCategoryStore.js
Labels: 🗺frontend

#365 [Fix] 디테일 수정
  frontend/src/components/common/BottomHeaderComponent.vue
  frontend/src/components/common/HeaderCategoriesComponent.vue
  frontend/src/components/member/DeliveryModalComponent.vue
  frontend/src/components/product/ProductComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/components/product/ProductList4LayoutComponent.vue
  frontend/src/components/product/ProductList5LayoutComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/product/CategoryProductListPage.vue
  frontend/src/pages/product/HashTagProductListPage.vue
  frontend/src/pages/product/ProductListPage.vue
  frontend/src/stores/useCartStore.js
  frontend/src/stores/useMemberStore.js
  frontend/src/stores/useOrderStore.js
  frontend/src/stores/useProductStore.js
Labels: 🗺frontend

#366 [Fix] 디테일 수정
  backend/src/main/java/com/synergy/backend/domain/member/controller/MemberController.java
  backend/src/main/java/com/synergy/backend/domain/member/model/response/MemberPaymentRes.java
  backend/src/main/java/com/synergy/backend/domain/member/repository/MemberRepository.java
  backend/src/main/java/com/synergy/backend/domain/member/service/MemberService.java
  backend/src/main/java/com/synergy/backend/domain/product/controller/ProductController.java
  backend/src/main/java/com/synergy/backend/domain/product/model/request/KeywordProductListReq.java
  backend/src/main/java/com/synergy/backend/domain/product/model/request/ProductListReq.java
  backend/src/main/java/com/synergy/backend/domain/product/querydsl/ProductRepositoryCustom.java
  backend/src/main/java/com/synergy/backend/domain/product/querydsl/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
Labels: 🍃backend

#362 [Refactor] css 정리, 캐러셀 등
  frontend/src/components/common/BottomHeaderComponent.vue
  frontend/src/components/coupon/eventCouponComponent.vue
  frontend/src/components/coupon/myCouponListComponent.vue
  frontend/src/components/order/CartComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/stores/useCartStore.js
Labels: 🗺frontend

#368 [Refactor,Style] 카테고리 조회 성능 개선 및 컨벤션 준수
  backend/src/main/java/com/synergy/backend/domain/product/controller/CategoryController.java
  backend/src/main/java/com/synergy/backend/domain/product/repository/CategoryRepository.java
  backend/src/main/java/com/synergy/backend/domain/product/service/CategoryService.java
Labels: 🍃backend

#364 [CI/CD] 백엔드 jenkinsfile 수정
  backend/src/main/java/com/synergy/backend/global/config/SecurityConfig.java
  cicd/backend/jenkins/jenkinsfile
Labels: 🖥CI/CD

#369 [Refactor] Props 전달을 통한, 이미지 크기 고정
  frontend/src/components/product/ProductComponent.vue
  frontend/src/components/product/ProductList4LayoutComponent.vue
  frontend/src/components/product/ProductList5LayoutComponent.vue
  frontend/src/pages/member/LoginPage.vue
Labels: 🗺frontend

#372 [Fix] 선물 결제 페이지 에러 수정
  frontend/src/components/order/CartComponent.vue
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/payment/PresentPaymentPage.vue
Labels: 🗺frontend

#374 [Feat] 별점 등록
  frontend/src/components/atelier/AtelierProfileCardComponent.vue
  frontend/src/components/common/StarComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/components/review/ProductReviewListComponent.vue
  frontend/src/router/index.js
Labels: 🗺frontend

#379 [Feat] 배송지 PathVariable 수정
  backend/src/main/java/com/synergy/backend/domain/member/controller/MemberController.java
Labels: 🍃backend

#384 [Refac] 광고 캐러셀, 메인 페이지 노출 상품 이미지 수정
  frontend/src/components/AdvertiseCarousel.vue
  frontend/src/pages/MainPage.vue
Labels: 🗺frontend

#383 [Feat] 로그아웃 리다이렉트 페이지 구현
  frontend/src/pages/member/LoginPage.vue
  frontend/src/pages/member/LogoutPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useGiftStore.js
Labels: 🗺frontend

#385 [Refac] 광고 캐러셀, 메인 페이지 노출 상품 이미지 수정
  cicd/frontend/docker/default.conf
  frontend/src/components/AdvertiseCarousel.vue
  frontend/src/pages/MainPage.vue
Labels: 🗺frontend

#381 [CI/CD] 'Docker push' stage 삭제
  cicd/frontend/jenkins/jenkinsfile
  cicd/frontend/kubernetes/deployment-blue.yml
  cicd/frontend/kubernetes/deployment-green.yml
Labels: 🖥CI/CD

#386 [Deploy] Frontend/develop 배포 (24/10/17)
  cicd/frontend/docker/default.conf
  cicd/frontend/jenkins/jenkinsfile
  cicd/frontend/kubernetes/deployment-blue.yml
  cicd/frontend/kubernetes/deployment-green.yml
  frontend/src/components/AdvertiseCarousel.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/member/LoginPage.vue
  frontend/src/pages/member/LogoutPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useGiftStore.js
Labels: 🗺frontend, operation

#388 [CI/CD] 'Docker push' stage 롤백
  cicd/frontend/jenkins/jenkinsfile
  cicd/frontend/kubernetes/deployment-blue.yml
  cicd/frontend/kubernetes/deployment-green.yml
Labels: 🖥CI/CD

#389 [Deploy] Frontend/develop 배포 (24/10/17)
  cicd/frontend/jenkins/jenkinsfile
  cicd/frontend/kubernetes/deployment-blue.yml
  cicd/frontend/kubernetes/deployment-green.yml
Labels: 🗺frontend, operation

#375 [Refactor] Refresh token, 회원가입 Email 인증 - redis 적용 (Merge 보류)
  backend/build.gradle
  backend/docker.compose.yml
  backend/src/main/java/com/synergy/backend/domain/member/model/entity/MemberEmailAuth.java
  backend/src/main/java/com/synergy/backend/domain/member/repository/MemberEmailAuthRepository.java
  backend/src/main/java/com/synergy/backend/domain/member/service/MemberEmailAuthService.java
  backend/src/main/java/com/synergy/backend/global/config/RedisConfig.java
  backend/src/main/java/com/synergy/backend/global/config/SecurityConfig.java
  backend/src/main/java/com/synergy/backend/global/security/filter/JwtFilter.java
  backend/src/main/java/com/synergy/backend/global/security/filter/LoginFilter.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/model/BlackListToken.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/model/RefreshToken.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/repository/BlackListTokenRepository.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/repository/RefreshTokenRepository.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/service/BlackListTokenService.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/service/RefreshTokenService.java
  backend/src/main/java/com/synergy/backend/global/util/JwtUtil.java
  backend/src/main/resources/application.yml
Labels: 🍃backend

#395 [Refactor] 사이트 점검 및 기본기능에 대한 기능 개선 ( 진행중 )
  backend/src/main/java/com/synergy/backend/global/security/filter/LoginFilter.java
  backend/src/main/java/com/synergy/backend/global/security/filter/OAuth2Filter.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/service/RefreshTokenService.java
Labels: 🍃backend, refactor

#390 [Add,Refactor] 전역적으로 토큰 만료에 대한 로그아웃 요청을 처리할 수 있는 interceptor 추가 + 디자인 수정
  frontend/src/api/response.js
  frontend/src/components/member/DeliveryModalComponent.vue
  frontend/src/components/order/CartComponent.vue
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/payment/PresentPaymentPage.vue
  frontend/vue.config.js
Labels: 🗺frontend, refactor

#396 [Feat] 엘라스틱 키워드 검색 구현
  backend/build.gradle
  backend/src/main/java/com/synergy/backend/domain/atelier/repository/AtelierRepository.java
  backend/src/main/java/com/synergy/backend/domain/likes/repository/LikesRepository.java
  backend/src/main/java/com/synergy/backend/domain/likes/service/LikesService.java
  backend/src/main/java/com/synergy/backend/domain/product/controller/ElasticProductController.java
  backend/src/main/java/com/synergy/backend/domain/product/model/response/ProductListRes.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ElasticProductService.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
  backend/src/main/java/com/synergy/backend/global/config/ElasticConfig.java
  backend/src/main/java/com/synergy/backend/global/elastic/elastic-settings.json
  backend/src/main/java/com/synergy/backend/global/elastic/product-mappings.json
  backend/src/main/resources/application.yml
Labels: 🍃backend

#399 [Fix] 상품 관련 수정
  backend/src/main/java/com/synergy/backend/domain/likes/repository/LikesRepository.java
  backend/src/main/java/com/synergy/backend/domain/product/querydsl/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
Labels: 🍃backend

#400 [Fix] 상품 관련 수정
  backend/build.gradle
  backend/docker.compose.yml
  backend/src/main/java/com/synergy/backend/domain/atelier/repository/AtelierRepository.java
  backend/src/main/java/com/synergy/backend/domain/likes/repository/LikesRepository.java
  backend/src/main/java/com/synergy/backend/domain/likes/service/LikesService.java
  backend/src/main/java/com/synergy/backend/domain/member/model/entity/MemberEmailAuth.java
  backend/src/main/java/com/synergy/backend/domain/member/repository/MemberEmailAuthRepository.java
  backend/src/main/java/com/synergy/backend/domain/member/service/MemberEmailAuthService.java
  backend/src/main/java/com/synergy/backend/domain/product/controller/ElasticProductController.java
  backend/src/main/java/com/synergy/backend/domain/product/model/response/ProductListRes.java
  backend/src/main/java/com/synergy/backend/domain/product/querydsl/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ElasticProductService.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ProductService.java
  backend/src/main/java/com/synergy/backend/global/config/ElasticConfig.java
  backend/src/main/java/com/synergy/backend/global/config/RedisConfig.java
  backend/src/main/java/com/synergy/backend/global/config/SecurityConfig.java
  backend/src/main/java/com/synergy/backend/global/elastic/elastic-settings.json
  backend/src/main/java/com/synergy/backend/global/elastic/product-mappings.json
  backend/src/main/java/com/synergy/backend/global/security/OAuth2Service.java
  backend/src/main/java/com/synergy/backend/global/security/filter/JwtFilter.java
  backend/src/main/java/com/synergy/backend/global/security/filter/LoginFilter.java
  backend/src/main/java/com/synergy/backend/global/security/filter/OAuth2Filter.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/model/BlackListToken.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/model/RefreshToken.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/repository/BlackListTokenRepository.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/repository/RefreshTokenRepository.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/service/BlackListTokenService.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/service/RefreshTokenService.java
  backend/src/main/java/com/synergy/backend/global/util/JwtUtil.java
  backend/src/main/resources/application.yml
  cicd/backend/jenkins/jenkinsfile
Labels: 🍃backend

#397 [Fix] 상품 컴포넌트 수정
  cicd/frontend/docker/default.conf
  cicd/frontend/kubernetes/deployment-blue.yml
  cicd/frontend/kubernetes/deployment-green.yml
  frontend/src/components/product/ProductComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/member/LoginPage.vue
  frontend/src/pages/member/LogoutPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useGiftStore.js
Labels: 🗺frontend

#398 [fix] 상품 컴포넌트 수정
  frontend/src/components/product/ProductComponent.vue
Labels: 🗺frontend

#404 [Fix] k8s sticky session 문제 해결을 위한 로그 작성
  backend/src/main/java/com/synergy/backend/global/security/CustomUserDetailService.java
  backend/src/main/java/com/synergy/backend/global/security/OAuth2Service.java
  backend/src/main/java/com/synergy/backend/global/security/filter/OAuth2AuthenticationFailureHandler.java
Labels: bug, 🍃backend

#401 [Feat] 선착순 쿠폰 대기열
  backend/build.gradle
  backend/src/main/java/com/synergy/backend/domain/alert/model/entity/Alert.java
  backend/src/main/java/com/synergy/backend/domain/coupon/controller/CouponController.java
  backend/src/main/java/com/synergy/backend/domain/coupon/model/entity/Coupon.java
  backend/src/main/java/com/synergy/backend/domain/coupon/model/type/IssueDate.java
  backend/src/main/java/com/synergy/backend/domain/coupon/service/CouponService.java
  backend/src/main/java/com/synergy/backend/domain/queue/controller/QueueController.java
  backend/src/main/java/com/synergy/backend/domain/queue/model/response/EnabledResponse.java
  backend/src/main/java/com/synergy/backend/domain/queue/model/response/QueueStatus.java
  backend/src/main/java/com/synergy/backend/domain/queue/model/response/RegisterQueueResponse.java
  backend/src/main/java/com/synergy/backend/domain/queue/service/CouponCacheService.java
  backend/src/main/java/com/synergy/backend/domain/queue/service/QueueRedisService.java
  backend/src/main/java/com/synergy/backend/domain/queue/service/QueueService.java
  backend/src/main/java/com/synergy/backend/domain/queue/service/RedisLockService.java
  backend/src/main/java/com/synergy/backend/global/Handler/QueueWebSocketHandler.java
  backend/src/main/java/com/synergy/backend/global/common/BaseResponseStatus.java
  backend/src/main/java/com/synergy/backend/global/common/model/BaseEntity.java
  backend/src/main/java/com/synergy/backend/global/config/RedisConfig.java
  backend/src/main/java/com/synergy/backend/global/config/RedissonConfig.java
  backend/src/main/java/com/synergy/backend/global/config/WebSocketConfig.java
  backend/src/main/resources/application.yml
Labels: 🍃backend

#402 [Fix] 결제 관련 페이지 점검 및 개선
  frontend/src/components/order/CartComponent.vue
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/payment/PresentPaymentPage.vue
  frontend/src/stores/useCartStore.js
  frontend/src/stores/useCouponStore.js
  frontend/src/stores/useOrderStore.js
Labels: 🗺frontend

#403 [Fix] 결제 관련 점검 및 수정
  backend/src/main/java/com/synergy/backend/domain/coupon/repository/CouponRepository.java
  backend/src/main/java/com/synergy/backend/domain/grade/repository/GradeRepository.java
  backend/src/main/java/com/synergy/backend/domain/orders/controller/OrderController.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/response/CartDTO.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/response/CartProductListRes.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/response/CustomData.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/response/PreValidationRes.java
  backend/src/main/java/com/synergy/backend/domain/orders/repository/CartRepository.java
  backend/src/main/java/com/synergy/backend/domain/orders/service/CartService.java
  backend/src/main/java/com/synergy/backend/domain/orders/service/OrderService.java
  backend/src/main/java/com/synergy/backend/domain/product/model/entity/ProductSubOptions.java
  backend/src/main/java/com/synergy/backend/domain/product/repository/ProductSubOptionsRepository.java
Labels: 🍃backend

#405 [Feat] 엘라스틱 서치 검색 대상에서 description 삭제
  backend/src/main/java/com/synergy/backend/domain/product/service/ElasticProductService.java
Labels: 🍃backend

#407 [Feat] 유저 NULL 처리 변경
  backend/src/main/java/com/synergy/backend/domain/coupon/controller/CouponController.java
  backend/src/main/java/com/synergy/backend/domain/coupon/service/CouponService.java
  backend/src/main/java/com/synergy/backend/domain/queue/controller/QueueController.java
Labels: 🍃backend

#406 [Feat] 대기열 모달 구현
  frontend/src/components/coupon/eventCouponComponent.vue
  frontend/src/stores/useCouponStore.js
Labels: 🗺frontend

#408 [Feat] 쿠폰 이미지 배포환경에서 안보이는 문제
  frontend/src/components/coupon/eventCouponComponent.vue
  frontend/src/components/coupon/myCouponListComponent.vue
Labels: 🗺frontend

#409 [Fix] 점검 및 문제 수정
  frontend/src/components/common/MiddleHeaderComponent.vue
  frontend/src/components/coupon/eventCouponComponent.vue
  frontend/src/components/member/UpdateMemberInfoComponent.vue
  frontend/src/components/order/OrderListComponent.vue
  frontend/src/components/review/ReviewModalComponent.vue
  frontend/src/components/review/WritableReviewComponent.vue
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/payment/PresentPaymentPage.vue
  frontend/src/stores/useCartStore.js
  frontend/src/stores/useReviewStore.js
Labels: 🗺frontend

#410 [Fix] 주문 내역 반환 순서 변경
  backend/src/main/java/com/synergy/backend/domain/coupon/model/entity/MemberCoupon.java
  backend/src/main/java/com/synergy/backend/domain/coupon/repository/MemberCouponRepository.java
  backend/src/main/java/com/synergy/backend/domain/member/model/response/OrderListRes.java
  backend/src/main/java/com/synergy/backend/domain/orders/model/entity/Orders.java
  backend/src/main/java/com/synergy/backend/domain/orders/querydsl/OrderRepositoryCustomImpl.java
  backend/src/main/java/com/synergy/backend/domain/orders/service/OrderService.java
  backend/src/main/java/com/synergy/backend/domain/review/model/entity/Review.java
  backend/src/main/java/com/synergy/backend/domain/review/model/request/CreateReviewReq.java
  backend/src/main/java/com/synergy/backend/domain/review/model/response/WritableReviewRes.java
  backend/src/main/java/com/synergy/backend/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/synergy/backend/domain/review/service/ReviewService.java
Labels: 🍃backend

#411 [Feat] 404 페이지 "뒤로" 버튼 이벤트
  frontend/src/components/error/NotFoundComponent.vue
Labels: 🗺frontend

#412 [Refactor / Fix] 기본기능 백엔드 점검
  backend/src/main/java/com/synergy/backend/domain/member/model/entity/Member.java
  backend/src/main/java/com/synergy/backend/domain/member/model/request/MemberSignupReq.java
Labels: bug, 🍃backend

#413 [Design] 메인페이지 글씨, 핫딜 기간 수정
  frontend/src/components/common/CountDown.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/pages/MainPage.vue
Labels: 🗺frontend, refactor

#416 [Feat] 로그삭제 및 실행할 스케줄러 시작
  backend/src/main/java/com/synergy/backend/domain/coupon/controller/CouponController.java
  backend/src/main/java/com/synergy/backend/domain/coupon/scheduler/CouponScheduler.java
  backend/src/main/java/com/synergy/backend/domain/grade/scheduler/GradeScheduler.java
  backend/src/main/java/com/synergy/backend/domain/member/controller/MemberController.java
  backend/src/main/java/com/synergy/backend/domain/member/service/MemberEmailAuthService.java
  backend/src/main/java/com/synergy/backend/domain/orders/controller/OrderController.java
  backend/src/main/java/com/synergy/backend/domain/queue/service/QueueService.java
  backend/src/main/java/com/synergy/backend/global/Handler/QueueWebSocketHandler.java
  backend/src/main/java/com/synergy/backend/global/security/filter/LoginFilter.java
  backend/src/main/resources/application.yml
Labels: 🍃backend

#414 [Fix] 할인 적용가 소수점 제거
  frontend/src/components/product/ProductComponent.vue
Labels: 🗺frontend

#418 [Refactor] 사용 안 하는 LOG, 배송지 추가 검증 z-index 등
  frontend/src/components/coupon/eventCouponComponent.vue
  frontend/src/components/gift/GiftReceivedListComponent.vue
  frontend/src/components/member/AddAddressComponent.vue
  frontend/src/components/member/DeliveryComponent.vue
  frontend/src/components/order/CartComponent.vue
  frontend/src/components/review/ReviewOfPurposeComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/product/CategoryProductListPage.vue
  frontend/src/stores/useAtelierStore.js
  frontend/src/stores/useCartStore.js
  frontend/src/stores/useCouponStore.js
  frontend/src/stores/useGiftStore.js
  frontend/src/stores/useMemberStore.js
  frontend/src/stores/useProductStore.js
  frontend/src/stores/useReviewStore.js
Labels: 🗺frontend

#419 [Fix] 주문 오류 수정
  backend/src/main/java/com/synergy/backend/domain/orders/service/OrderService.java
Labels: 🍃backend

#420 [Fix] 결제에 로딩창 추가
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/payment/PresentPaymentPage.vue
  frontend/src/stores/useOrderStore.js
Labels: 🗺frontend

#422 [Refactor] 장바구니 헤더 css, 요청메세지 버튼 활성화
  frontend/src/components/order/CartComponent.vue
Labels: 🗺frontend

#423 [fix] 결제 상품 목록에 주문 메세지 추가
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/payment/PresentPaymentPage.vue
  frontend/src/pages/product/ProductDetailPage.vue
  frontend/src/stores/useCartStore.js
Labels: 🗺frontend

#426 [Refactor] formatPrice 설정 모든 곳에, 선물하기 상호작용 에러 변경
  frontend/src/components/gift/GiftGiveDetailComponent.vue
  frontend/src/components/mypage/GradeComponent.vue
  frontend/src/components/order/CartComponent.vue
  frontend/src/components/order/OrderListComponent.vue
  frontend/src/components/product/ProductComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/payment/PresentPaymentPage.vue
  frontend/src/stores/useCartStore.js
  frontend/src/utils/formatPrice.js
Labels: 🗺frontend

#424 [Refactor/Fix] 기타등등
  frontend/src/components/AskCommentComponent.vue
  frontend/src/components/gift/GiftGiveComponent.vue
  frontend/src/components/gift/GiftReceivedComponent.vue
  frontend/src/components/member/CouponComponent.vue
  frontend/src/components/member/DeliveryComponent.vue
  frontend/src/components/review/WritableReviewComponent.vue
  frontend/src/components/review/WrittenReviewComponent.vue
  frontend/src/pages/member/LoginPage.vue
  frontend/src/pages/product/ProductDetailPage.vue
Labels: bug, 🗺frontend, refactor

#429 [Refactor] 404 예외페이지 처리
  frontend/src/api/response.js
  frontend/src/components/order/CartComponent.vue
  frontend/src/router/index.js
  frontend/src/stores/useAtelierStore.js
  frontend/src/stores/useProductStore.js
Labels: 🗺frontend

#430 [Fix] RefreshToken API 요청 동시성 처리 (#393)
  backend/src/main/java/com/synergy/backend/global/config/SecurityConfig.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/service/RefreshTokenService.java
  backend/src/main/java/com/synergy/backend/global/util/JwtUtil.java
Labels: bug, 🍃backend

#431 [Fix] RefreshToken API 요청 동시성 처리
  backend/src/main/java/com/synergy/backend/global/security/jwt/service/RefreshTokenService.java
  backend/src/main/java/com/synergy/backend/global/util/JwtUtil.java
Labels: 🍃backend

#432 [Refactor] 등급 계산 시 쿼리 수정
  backend/src/main/java/com/synergy/backend/domain/orders/repository/OrderRepository.java
Labels: 🍃backend

#433 [Refactor] BlackList 토큰 Set 자료구조로 변경
  backend/src/main/java/com/synergy/backend/global/config/SecurityConfig.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/service/BlackListTokenService.java
  backend/src/main/java/com/synergy/backend/global/security/jwt/service/RefreshTokenService.java
Labels: 🍃backend, refactor

#435 [hotfix]등급 방어코드 추가 구현 #434
  backend/src/main/java/com/synergy/backend/domain/grade/service/GradeService.java
  backend/src/main/java/com/synergy/backend/global/InitData/InitDataWith300000.java
Labels: 🍃backend, hotfix

#436 [Fix] 후기 작성 리다이렉트 경로 수정
  frontend/src/components/AskCommentComponent.vue
  frontend/src/components/review/ProductReviewListComponent.vue
  frontend/src/pages/product/ProductDetailPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useAskCommentStore.js
Labels: 🗺frontend

#438 [Deploy] Frontend/develop
  cicd/frontend/docker/default.conf
  frontend/src/api/response.js
  frontend/src/components/AskCommentComponent.vue
  frontend/src/components/common/CountDown.vue
  frontend/src/components/common/MiddleHeaderComponent.vue
  frontend/src/components/coupon/eventCouponComponent.vue
  frontend/src/components/coupon/myCouponListComponent.vue
  frontend/src/components/error/NotFoundComponent.vue
  frontend/src/components/gift/GiftGiveComponent.vue
  frontend/src/components/gift/GiftGiveDetailComponent.vue
  frontend/src/components/gift/GiftReceivedComponent.vue
  frontend/src/components/gift/GiftReceivedListComponent.vue
  frontend/src/components/member/AddAddressComponent.vue
  frontend/src/components/member/CouponComponent.vue
  frontend/src/components/member/DeliveryComponent.vue
  frontend/src/components/member/DeliveryModalComponent.vue
  frontend/src/components/member/UpdateMemberInfoComponent.vue
  frontend/src/components/mypage/GradeComponent.vue
  frontend/src/components/order/CartComponent.vue
  frontend/src/components/order/OrderListComponent.vue
  frontend/src/components/product/ProductComponent.vue
  frontend/src/components/product/ProductDetailPaymentComponent.vue
  frontend/src/components/review/ProductReviewListComponent.vue
  frontend/src/components/review/ReviewModalComponent.vue
  frontend/src/components/review/ReviewOfPurposeComponent.vue
  frontend/src/components/review/WritableReviewComponent.vue
  frontend/src/components/review/WrittenReviewComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/member/LoginPage.vue
  frontend/src/pages/payment/OrderPaymentPage.vue
  frontend/src/pages/payment/PresentPaymentPage.vue
  frontend/src/pages/product/CategoryProductListPage.vue
  frontend/src/pages/product/ProductDetailPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useAskCommentStore.js
  frontend/src/stores/useAtelierStore.js
  frontend/src/stores/useCartStore.js
  frontend/src/stores/useCouponStore.js
  frontend/src/stores/useGiftStore.js
  frontend/src/stores/useMemberStore.js
  frontend/src/stores/useOrderStore.js
  frontend/src/stores/useProductStore.js
  frontend/src/stores/useReviewStore.js
  frontend/src/utils/formatPrice.js
  frontend/vue.config.js
Labels: 🗺frontend, operation

#439 [fix] 후기 작성 리다이렉트 변경 (#394)
  frontend/src/components/review/ProductReviewListComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
Labels: 🗺frontend

#440 [FIX] 쿠폰 자료형 오류.. 변경 및 예외처리
  backend/src/main/java/com/synergy/backend/domain/coupon/service/CouponService.java
  backend/src/main/java/com/synergy/backend/domain/queue/service/QueueRedisService.java
  backend/src/main/java/com/synergy/backend/domain/queue/service/QueueService.java
Labels: 🍃backend

#441 [Feat] 쿠폰 예외처리
  frontend/src/components/coupon/eventCouponComponent.vue
  frontend/src/stores/useCouponStore.js
Labels: 🗺frontend

#443 [Deploy] Frontend/develop 10-22
  frontend/src/components/coupon/eventCouponComponent.vue
  frontend/src/components/review/ProductReviewListComponent.vue
  frontend/src/components/sidebar/MyPageSideBarComponent.vue
  frontend/src/stores/useCouponStore.js
Labels: 🗺frontend, operation

#442 [Deploy] Backend/develop 10-22
  backend/src/main/java/com/synergy/backend/domain/coupon/service/CouponService.java
  backend/src/main/java/com/synergy/backend/domain/queue/service/QueueRedisService.java
  backend/src/main/java/com/synergy/backend/domain/queue/service/QueueService.java
Labels: 🍃backend, operation

#444 Readme
  README.md
  frontend/src/stores/README.md
Labels: 📃documentation

#445 [Feat] 로컬스토리지에는 남아있으나, 토큰 값이 없는 유저 로그아웃 유도 구현
  backend/src/main/java/com/synergy/backend/domain/member/controller/MemberController.java
Labels: 🍃backend

#446 [Feat] 로컬스토리지에는 남아있으나, 토큰 값이 없는 유저 로그아웃 처리
  frontend/src/api/response.js
  frontend/src/router/index.js
Labels: 🗺frontend

#447 [Docs] readme 수정
  README.md
Labels: 📃documentation

#448 [Feat] 키워드 검색에 Elasticsearch 적용
  frontend/src/stores/useProductStore.js
Labels: 🗺frontend

#450 [Feat] elasticsearch에 초성 검색 추가
  backend/src/main/java/com/synergy/backend/domain/product/service/ElasticProductService.java
Labels: 🍃backend

#452 [Merge] backend/develop -> develop 최종 Merge
  backend/src/main/java/com/synergy/backend/domain/member/controller/MemberController.java
  backend/src/main/java/com/synergy/backend/domain/product/service/ElasticProductService.java
Labels: 🍃backend

#453 [Merge] frontend/develop -> develop 최종 Merge
  cicd/frontend/docker/default.conf
  frontend/src/api/response.js
  frontend/src/components/review/ReviewOfPurposeComponent.vue
  frontend/src/router/index.js
  frontend/src/stores/useProductStore.js
Labels: 🗺frontend

#455 [Docs] 도메인 주소 변경 및 적용
  README.md
Labels: 📃documentation
